## 2. Data wrangling

## 2.1 Contents<a id='2.1_Contents'></a>
* [2 Data wrangling](#2_Data_wrangling)
  * [2.1 Contents](#2.1_Contents)
  * [2.2 Introduction](#2.2_Introduction)
  * [2.3 Imports](#2.3_Imports)
  * [2.4 Load The House Price Data](#2.4_Load_The_House_Price_Data)
  * [2.5 Filtering Single Family Property Type](#2.5_Filtering_Single_Family_Property_Type) 
  * [2.6 Missing Values](#2.6_Missing_Values) 
  * [2.7 Garage](#2.7_Garage) 
  * [2.8 Living](#2.8_Living) 
  * [2.9 Dining](#2.9_Dining) 
  * [2.10 Kitchen](#2.10_Kitchen)
  * [2.11 Subdivision](#2.11_Subdivision)

## 2.2 Introduction<a id='2.2_Introduction'></a>

In this section I will investigate data scrapped from www.HAR.com. Data cleaning will be done in this stage since all rows are categorical and need to be numerical. I will remove features with lost of none values and will create new features.

## 2.3 Imports<a id='2.3_Imports'></a>

In [544]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import substring
import re
from fuzzywuzzy import process
import warnings
warnings.filterwarnings('ignore')

## 2.4 Load The House Price Data<a id='2.4_Load_The_House_Price_Data'></a>

In [545]:
data= pd.read_csv('../Prediction House Price Using Image Processing/Data/Houston_Home_List.csv',encoding = "ISO-8859-1")
print('data shape is:',data.shape)

data shape is: (15102, 101)

In [546]:
data.columns

Index(['Unnamed: 0', 'image_link', 'Listing Price:', 'Address:', 'City:',
       'State:', 'Zip Code:', 'County:', 'Subdivision:', 'Legal Description:',
       ...
       'Extra Room:', 'Wine Room:', 'Carport Description:',
       'Median Appraised Value / Square ft.:', 'Den:', 'Utility Room Desc:',
       'Sunroom:', 'Guest Suite:', 'Bath:', 'Garage Apartment:'],
      dtype='object', length=101)

## 2.5 Filtering Single Family Property Type<a id='2.5_Filtering_Single_Family_Property_Type'></a>

Since we are going to analysis images and other house features it is important to have all records as same as possible. For example for lots there is no image for building or rooms and features for multi-family properties are different from single family homes. let see what kind of property type we have in our dataset:

In [547]:
data['Property Type:'].value_counts()

Single-Family                          11141
Lots                                    1551
Townhouse/Condo - Townhouse              950
Townhouse/Condo - Condominium            594
Mid/Hi-Rise Condo                        436
Country Homes/Acreage                    154
Multi-Family - Duplex                    107
Country Homes/Acreage - Free Standi       46
Multi-Family - Fourplex                   46
Multi-Family - 5 Plus                     38
Multi-Family - Triplex                    15
Multi-Family - Multiple Detached Dw        9
Country Homes/Acreage - Manufacture        4
Lot & Acreage - Residential                3
Residential - Condo                        2
Residential - Townhouse                    1
Single Family                              1
Name: Property Type:, dtype: int64

Majority of properties are single family so, I keep them and remove the rest of the types.

In [548]:
single_family_df = data[data['Property Type:']=='Single-Family']
single_family_df.reset_index(drop=True,inplace=True)
len(single_family_df)

11141

In [549]:
single_family_df.head()

,Unnamed: 0,image_link,Listing Price:,Address:,City:,State:,Zip Code:,County:,Subdivision:,Legal Description:,...,Extra Room:,Wine Room:,Carport Description:,Median Appraised Value / Square ft.:,Den:,Utility Room Desc:,Sunroom:,Guest Suite:,Bath:,Garage Apartment:
0,85,"['https://photos.harstatic.com/190618667/hr/img-1.jpeg?ts=2020-10-19T10:42:58.003', 'https://pho...","$ 575,000 ($232.98/sqft.) $Convert",1316 Hadley Street,Houston,TX,77002,Harris County,Austin Hadley Place,LT 4 BLK 1 AUSTIN HADLEY PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,88,"['https://photos.harstatic.com/190420550/hr/img-1.jpeg?ts=2020-10-15T13:09:36.753', 'https://pho...","$ 465,000 ($221.85/sqft.) $Convert",110 Pierce Street,Houston,TX,77002,Harris County,Modern Midtown (View subdivision price trend),LT 12 BLK 1 MODERN MIDTOWN,...,NaN,NaN,NaN,$223.83,NaN,NaN,NaN,NaN,NaN,NaN
2,89,"['https://photos.harstatic.com/190088153/hr/img-1.jpeg?ts=2020-10-08T13:52:48.230', 'https://pho...","$ 450,000 ($223.33/sqft.) $Convert",118 Pierce Street,Houston,TX,77002,Harris County,Modern Midtown (View subdivision price trend),LT 8 BLK 1 MODERN MIDTOWN,...,NaN,NaN,NaN,$223.83,NaN,NaN,NaN,NaN,NaN,NaN
3,99,"['https://photos.harstatic.com/189387790/hr/img-1.jpeg?ts=2020-10-22T12:28:16.593', 'https://pho...","$ 259,000 ($203.30/sqft.) $Convert",311 N Milby Street,Houston,TX,77003,Harris County,Merkels Sec 01 (View subdivision price trend),LT 3 BLK 15 MERKELS SEC 1,...,NaN,NaN,NaN,NaN,"['12 x 17, 1st', '12 , 17, 1st']","['12 x 7, 1st', '12 , 7, 1st']",NaN,NaN,NaN,NaN
4,108,"['https://photos.harstatic.com/177650081/hr/img-1.jpeg?ts=2019-08-30T14:53:35.547', 'https://pho...","$ 236,999 ($196.19/sqft.) $Convert \r\n\r\n\r\n Reduced 1.25%\r\n Reduced 1.25%\r\n\r\nReduc...",216 Hutcheson,Houston,TX,77003,Harris County,MERKELS (View subdivision price trend),LT 9 BLK 5 MERKELS SEC 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In our dataset `State` and `Property Type` are the same for all houses so, we can remove them:

In [550]:
single_family_df.drop(['Unnamed: 0','State:','Property Type:'],axis=1,inplace=True)

## 2.6 Missing Values<a id='2.6_Missing_Values'></a>

In [551]:
# function to find missing value and returning count abd %
def missing_cal(df):
    missing = pd.concat([single_family_df.isnull().sum(), 100 * single_family_df.isnull().mean()], axis=1)
    missing.columns=['count', '%']
    missing.sort_values(by='count',ascending=False)
    return missing

In [552]:
missing = missing_cal(single_family_df)
missing

                    count          %
image_link              0   0.000000
Listing Price:          3   0.026928
Address:                0   0.000000
City:                   0   0.000000
Zip Code:               0   0.000000
...                   ...        ...
Utility Room Desc:   7178  64.428687
Sunroom:            10909  97.917602
Guest Suite:        11008  98.806211
Bath:                9449  84.812853
Garage Apartment:   10822  97.136702

[98 rows x 2 columns]

Let's take a look at features with more than 90% missing values:

In [553]:
missing = missing_cal(single_family_df)
nan_90 = missing.loc[missing['%']>90].index
print('Number of Features with more than 90% None: ',len(nan_90))

Number of Features with more than 90% None:  9

In [554]:
missing.loc[nan_90].sort_values(by="%")

                                      count          %
Extra Room:                           10068  90.368908
Median Appraised Value / Square ft.:  10217  91.706310
Media Room:                           10254  92.038417
Carport Description:                  10523  94.452922
Water Amenity:                        10747  96.463513
Garage Apartment:                     10822  97.136702
Sunroom:                              10909  97.917602
Wine Room:                            11002  98.752356
Guest Suite:                          11008  98.806211

We need to see what kind of information are in each of these features:

In [555]:
for item in nan_90:
    print('Value Count for '+item)
    print(single_family_df[item].value_counts())
    print('-'*100)

Value Count for Media Room:
['2nd', '2nd']                      27
['16x12, 2nd', '4.88 x 3.66(m)']    17
['14x13, 2nd', '4.27 x 3.96(m)']    15
['15x13, 2nd', '4.57 x 3.96(m)']    15
['18x12, 2nd', '5.49 x 3.66(m)']    13
                                    ..
['10X22\'7", 3rd', '3.05(m)']        1
['11x8, 2nd', '3.35 x 2.44(m)']      1
['17x11, 2nd', '5.18 x 3.35(m)']     1
['20-11, 2nd', '20-11, 2nd']         1
['12x13, 2nd', '3.66 x 3.96(m)']     1
Name: Media Room:, Length: 454, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Water Amenity:
Lake View                                                     119
Lake View, Lakefront                                           83
Pond                                                           55
Lakefront                                                      48
Bayou Frontage, Bayou View                                      9
Bayou View                                                      8
Lake View, Lakefront, Pond                                      6
Bayou Frontage                                                  4
Lakefront, Pier                                                 3
Lakefront, Wood Bulkhead                                        3
Riverfront                                                      3
Lake View, Pond                                                 3
Canal View                                                      3
Bulkhead, Lakefront                                             2
Canal Front                                                     2
Bulkhead, Lake View, Lakefront                                  2
Canal Front, Canal View                                         2
Pier, Pond                                                      2
Bay View                                                        2
River View                                                      2
Lake View, Lakefront, Wood Bulkhead                             2
Boat Slip, Canal Front, Canal View, Lake View, Lakefront        1
Bulkhead, Canal Front, Concrete Bulkhead, Lakefront             1
Canal Front, Wood Bulkhead                                      1
Bulkhead, Canal Front, Lake View, Lakefront, Wood Bulkhead      1
Lakefront, Riverfront                                           1
Boat Ramp, Lake View                                            1
Lake View, Lakefront, Pier                                      1
Bulkhead, Concrete Bulkhead, Lake View, Lakefront               1
Boat Slip, Bulkhead, Lakefront                                  1
Boat Ramp, Bulkhead, Riverfront                                 1
Bayou View, Lake View, Pond                                     1
Concrete Bulkhead                                               1
Lakefront, Pier, Pond, River View, Riverfront                   1
Canal Front, Canal View, Lakefront, Pier, Wood Bulkhead         1
Concrete Bulkhead, Pier                                         1
Bulkhead                                                        1
Lake View, Canal View                                           1
River View, Riverfront                                          1
Canal Front, Canal View, Pier, Wood Bulkhead                    1
Boat House, Boat Lift, Boat Slip, Canal Front, Lakefront        1
Bay View, Gulf View, Lake View                                  1
Canal View, Lake View                                           1
Bulkhead, Lakefront, Wood Bulkhead                              1
Bulkhead, Canal Front, Lake View, Lakefront, Pier               1
Pier, Riverfront                                                1
Lake View, Metal Bulkhead, River View                           1
Pier, River View, Riverfront                                    1
Lake View, Lakefront, River View                                1
Concrete Bulkhead, Lake View, Lakefront, Wood Bulkhead          1
Lakefront, Pier, Wood Bulkhead                                  1
Boat Slip, Lake View                                            1
Name: Water Amenity:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Extra Room:
['1st', '1st']                                                                                     21
['10x10, 1st', '3.05 x 3.05(m)']                                                                   11
['11x10, 1st', '3.35 x 3.05(m)']                                                                   11
['2nd', '2nd']                                                                                     11
['11x11, 1st', '3.35 x 3.35(m)']                                                                   11
                                                                                                   ..
['14x14-Office, 1st', '18x32-Craft Rm, 2nd', '12x19-Gym, 2nd', '4.27(m)', '5.49(m)', '3.66(m)']     1
['10X14, 1st', '14X16, 1st', '3.05 x 4.27(m)', '4.27 x 4.88(m)']                                    1
['19 x 10, 2nd', '19 , 10, 2nd']                                                                    1
['14x19, 1st', '4.27 x 5.79(m)']                                                                    1
['12X7, 2nd', '3.66 x 2.13(m)']                                                                     1
Name: Extra Room:, Length: 710, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Wine Room:
['1st', '1st']                                    22
['7 x 4, 1st', '7 , 4, 1st']                       4
['8x5, 1st', '2.44 x 1.52(m)']                     3
['5x5, 1st', '1.52 x 1.52(m)']                     3
['12x6, 1st', '3.66 x 1.83(m)']                    3
                                                  ..
['9x7, 1st', '2.74 x 2.13(m)']                     1
['4\'0" x 6\'10", 1st', '4\'0" , 6\'10", 1st']     1
['In House', 'In House']                           1
['11x12, 1st', '3.35 x 3.66(m)']                   1
['16x4, 1st', '4.88 x 1.22(m)']                    1
Name: Wine Room:, Length: 98, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Carport Description:
Attached Carport       399
Detached Carport       122
Attached & Detached     97
Name: Carport Description:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Median Appraised Value / Square ft.:
$196.51     9
$76.60      8
$253.57     8
$120.49     6
$41.05      6
           ..
$61.74      1
$48.49      1
$33.24      1
$112.13     1
$171.61     1
Name: Median Appraised Value / Square ft.:, Length: 615, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Sunroom:
['1st', '1st']                      10
['15x12, 1st', '4.57 x 3.66(m)']     6
['10 x 6, 1st', '10 , 6, 1st']       5
['15x13, 1st', '4.57 x 3.96(m)']     4
['17x12, 1st', '5.18 x 3.66(m)']     3
                                    ..
['12x9, 1st', '3.66 x 2.74(m)']      1
['23x10, 2nd', '7.01 x 3.05(m)']     1
['14x14, 1st', '4.27 x 4.27(m)']     1
['27X22, 1st', '8.23 x 6.71(m)']     1
['23 x 13, 1st', '23 , 13, 1st']     1
Name: Sunroom:, Length: 181, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Guest Suite:
['1st', '1st']                          5
['2nd', '2nd']                          4
['13x12, 1st', '3.96 x 3.66(m)']        4
['14x13, 1st', '4.27 x 3.96(m)']        3
['15x11, 1st', '4.57 x 3.35(m)']        2
                                       ..
['12.9 x 11, 1st', '12.9 , 11, 1st']    1
['19x26, 2nd', '5.79 x 7.92(m)']        1
['16x12, 1st', '4.88 x 3.66(m)']        1
['19X18, 1st', '5.79 x 5.49(m)']        1
['16x14, 3rd', '4.88 x 4.27(m)']        1
Name: Guest Suite:, Length: 107, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Garage Apartment:
Yes                                                                    208
['In Garage', 'In Garage']                                               8
['In Garage', 'In Garage', 'Yes']                                        7
['20x20, In Garage', '6.10 x 6.10(m)']                                   2
['23x18, In Garage', '7.01 x 5.49(m)']                                   2
                                                                      ...
['20x15, In Garage', '6.10 x 4.57(m)', 'Yes']                            1
['20 x 20, In Garage', '20 , 20, In Garage', 'Yes']                      1
['22\'2" x 18\'6", In Garage', '22\'2" , 18\'6", In Garage', 'Yes']      1
['18x11, In Garage', '5.49 x 3.35(m)', 'Yes']                            1
['18x35, In Garage', '5.49 x 10.67(m)', 'Yes']                           1
Name: Garage Apartment:, Length: 95, dtype: int64
----------------------------------------------------------------------------------------------------

* Values for `Media Room`, `Extra Room`, `Wine Room`, `Sunroom`, `Guest Suite`and `Garage Apartment` are kind of dimension of each of those rooms along with some nonsense values like (`Yes` for `Garage Apartment`). 
* For `Water Amenity` there are to much unique categories and there is no way to be able to fill rest of none values with correct category
* `Carport Description` has 3 different categories for total 611 house and the rest do not have any carport so I will fill  all none values with new category as 'Not Applicable'.
* `Median Appraised Value / Square ft.:` is the fact (based on active listing) for each subdivision and can be fill by the value for same subdivision.

In [556]:
# Replacing None value for 'Carport Description:' with 'not applicable'
single_family_df['Carport Description:'][single_family_df['Carport Description:'].isnull()]='not applicable'

# Dropping 'Media Room:', 'Water Amenity:', 'Extra Room:', 'Wine Room:', 'Median Appraised Value / Square ft.:',
#'Sunroom:', 'Guest Suite:', 'Garage Apartment:', 'Vacation Rental:'
single_family_df.drop(['Media Room:', 'Water Amenity:', 'Extra Room:', 'Wine Room:', 'Sunroom:', 'Guest Suite:', 
                       'Garage Apartment:'],axis=1,inplace=True)

Next step is looking at the features with more than 80% none values:

In [557]:
missing = missing_cal(single_family_df)
nan_80 = missing.loc[missing['%']>80].index
print('Number of Features with more than 80% None: ',len(nan_80))

Number of Features with more than 80% None:  14

In [558]:
missing.loc[nan_80].sort_values(by="%")

                                      count          %
Average Square Ft.:                    9412  84.480747
Average Price/Square Ft.:              9412  84.480747
Market Area Name:                      9413  84.489723
Home For Sales:                        9413  84.489723
Average List Price:                    9413  84.489723
Home For Lease:                        9413  84.489723
Average Lease:                         9413  84.489723
Average Lease/Square Ft.:              9413  84.489723
Bath:                                  9449  84.812853
Den:                                   9486  85.144960
Private Pool Desc:                     9654  86.652904
Controlled Access:                     9770  87.694103
Master Planned Community:              9843  88.349340
Median Appraised Value / Square ft.:  10217  91.706310

In [559]:
#printing value count for each feature with more than 80 none value
for item in nan_80:
    print('Value Count for '+item)
    print(single_family_df[item].value_counts())
    print('-'*100)

Value Count for Private Pool Desc:
In Ground                                355
Gunite, In Ground                        344
Gunite, Heated, In Ground                234
Gunite                                   217
Heated, In Ground                         92
Gunite, Heated, In Ground, Salt Water     46
Gunite, Heated                            40
Above Ground                              28
Heated, In Ground, Salt Water             21
Gunite, In Ground, Salt Water             20
In Ground, Salt Water                     16
Gunite, Salt Water                        13
Gunite, Heated, Salt Water                10
Enclosed, Heated, In Ground                8
Heated                                     5
In Ground, Vinyl Lined                     5
Fiberglass, In Ground                      5
Salt Water                                 4
Enclosed, In Ground                        4
Fiberglass                                 4
Enclosed, Gunite, In Ground                2
Above Ground, In Ground                    2
Heated, Salt Water                         2
Above Ground, Heated                       2
Fiberglass, In Ground, Vinyl Lined         1
Enclosed, Salt Water                       1
Above Ground, Vinyl Lined                  1
Enclosed, Heated                           1
Fiberglass, Salt Water                     1
Above Ground, Fiberglass, Heated           1
Above Ground, Gunite, Heated               1
Vinyl Lined                                1
Name: Private Pool Desc:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Controlled Access:
Automatic Gate                                521
Driveway Gate                                 422
Automatic Gate, Driveway Gate                 234
Manned Gate                                   118
Automatic Gate, Intercom                       29
Automatic Gate, Manned Gate                    14
Intercom                                       10
Automatic Gate, Driveway Gate, Intercom         7
Driveway Gate, Manned Gate                      4
Driveway Gate, Intercom                         4
Automatic Gate, Driveway Gate, Manned Gate      4
Automatic Gate, Intercom, Manned Gate           3
Intercom, Manned Gate                           1
Name: Controlled Access:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Master Planned Community:
Kingwood                      235
Aliana                        118
Bridgeland                    100
Tavola                         76
Cane Island                    69
Clear Lake City                66
The Woodlands                  62
Towne Lake                     61
Woodson's Reserve              52
Elyson                         49
Gleannloch Farms               38
Oakhurst at Kingwood           34
Long Meadow Farms              33
Harmony                        31
Copperfield                    29
Grand Mission                  26
The Falls at Imperial Oaks     20
Lakes at Creekside             18
Windrose                       16
Sugar Creek                    15
Wildwood at Northpointe        14
Valley Ranch                   13
First Colony                   13
Cypress Creek Lakes            12
Coles Crossing                 12
Stone Gate                     12
Canyon Lakes at Stone Gate     11
City Park                      10
Spring Trails                  10
Lakemont                        9
Imperial Oaks                   7
Fairfield                       5
Fieldstone                      5
Canyon Gate at Northpointe      4
Quail Valley                    2
Spring Lakes                    2
Woodtrace                       1
Twin Oaks                       1
New Territory                   1
Steeplechase                    1
West Ranch                      1
River Park West                 1
WoodCreek Reserve               1
Traditions                      1
Canyon Lakes West               1
Name: Master Planned Community:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Market Area Name:
Katy - Old Towne        134
Spring Branch           128
Cypress South           105
Medical Center South     98
Hockley                  74
                       ...
Memorial West             1
Lake Conroe Area          1
Westchase Area            1
Memorial Villages         1
Pasadena                  1
Name: Market Area Name:, Length: 73, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Home For Sales:
559      134
555      105
425.0     98
287       73
820.0     71
        ...
209        1
726        1
1,559      1
248.0      1
268        1
Name: Home For Sales:, Length: 83, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Average List Price:
$358,099     134
$462,259     128
$401,192     105
$197,820      98
$315,400      74
            ...
$362,233       1
$497,916       1
$369,656       1
$400,610       1
$704,744       1
Name: Average List Price:, Length: 73, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Average Square Ft.:
2,629    134
2,329    128
2,912    105
1,662     98
2,161     74
        ...
2,280      1
2,822      1
5,325      1
2,550      1
2,747      1
Name: Average Square Ft.:, Length: 74, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Average Price/Square Ft.:
$135.88     134
$195.15     128
$137.48     105
$120.99      98
$141.22      74
           ...
$141.30       1
$160.00       1
$387.93       1
$130.43       1
$169.04       1
Name: Average Price/Square Ft.:, Length: 73, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Home For Lease:
30.0     134
223.0    128
61.0     105
71.0      98
104.0     77
        ...
45.0       2
274.0      1
79.0       1
95.0       1
72.0       1
Name: Home For Lease:, Length: 66, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Average Lease:
$1,914     134
$1,896     128
$1,939     105
$1,462      98
$1,937      88
          ...
$2,572       1
$2,066       1
$2,134       1
$1,372       1
$1,843       1
Name: Average Lease:, Length: 72, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Average Lease/Square Ft.:
$0.98     235
$1.26     128
$1.01     125
$1.02      98
$0.93      85
$1.09      72
$0.90      72
$1.57      70
$0.96      68
$0.92      63
$1.23      61
$1.55      61
$1.27      50
$1.03      47
$0.99      47
$1.29      47
$1.06      43
$1.47      37
$1.41      36
$0.95      34
$1.53      28
$0.94      28
$1.30      20
$1.68      20
$1.10      20
$1.15      17
$1.11      15
$1.13      14
$1.58      13
$1.28      13
$1.12       9
$1.49       7
$1.48       6
$0.87       5
$1.54       5
$1.14       4
$0.88       4
$1.85       4
$1.19       3
$2.10       3
$1.50       3
$1.07       3
$0.97       2
$1.08       1
$1.71       1
$3.94       1
Name: Average Lease/Square Ft.:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Median Appraised Value / Square ft.:
$196.51     9
$76.60      8
$253.57     8
$120.49     6
$41.05      6
           ..
$61.74      1
$48.49      1
$33.24      1
$112.13     1
$171.61     1
Name: Median Appraised Value / Square ft.:, Length: 615, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Den:
['1st', '1st']                                    33
['17x15, 1st', '5.18 x 4.57(m)']                  27
['17x16, 1st', '5.18 x 4.88(m)']                  21
['20x15, 1st', '6.10 x 4.57(m)']                  21
['20x16, 1st', '6.10 x 4.88(m)']                  21
                                                  ..
['23 x 15, 1st', '23 , 15, 1st']                   1
['14X20, 1st', '4.27 x 6.10(m)']                   1
['18\'2"x13\'10", 2nd', '18\'2",13\'10", 2nd']     1
['17 x 18, 2nd', '17 , 18, 2nd']                   1
['35 X 17, 1st', '35 , 17, 1st']                   1
Name: Den:, Length: 652, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Bath:
['1st', '1st']                                                                                                                                            178
['1st', '2nd', '1st', '2nd']                                                                                                                               86
['2nd', '1st', '2nd', '1st']                                                                                                                               83
['1st', '1st', '1st', '1st']                                                                                                                               62
['1st', '2nd', '2nd', '1st', '2nd', '2nd']                                                                                                                 60
                                                                                                                                                         ...
['5x8, 2nd', '5x8, 2nd', '1.52 x 2.44(m)', '1.52 x 2.44(m)']                                                                                                1
['12x5, 2nd', '5x10, 1st', '5x10, 2nd', '3.66 x 1.52(m)', '1.52 x 3.05(m)', '1.52 x 3.05(m)']                                                               1
['9x6, 2nd', '6x5, 1st', '6x5, 2nd', '4x8, 1st', '4x4, 1st', '2.74 x 1.83(m)', '1.83 x 1.52(m)', '1.83 x 1.52(m)', '1.22 x 2.44(m)', '1.22 x 1.22(m)']      1
['4x11, 1st', '4x4, 1st', '1.22 x 3.35(m)', '1.22 x 1.22(m)']                                                                                               1
['10\'6" x 10\'10", 1st', '10\'6" , 10\'10", 1st']                                                                                                          1
Name: Bath:, Length: 751, dtype: int64
----------------------------------------------------------------------------------------------------

* `Controlled Access`categories are mixed  of 'Automatic', 'Driveway', 'Manned' and 'Intercom' that makes me believe the rest of the house do not have any type of controlled access. I think filling none values with 'No controlled access' would be reasonable.
* Same as `Water Amenity` there are so many categories for 'Private Pool Desc'. After counting each category for `Private Pool:` groups figured out that there are description for house without private pool and I think it may happened by mistake and I decided to drop this column.
* `Master Planned Community` and `Market Area Name` categories seems to be same as subdivision name and we will deal with them later on subdivision section
* `Home For Sales`, `Average List Price`,`Average Square Ft.`,`Average Price/Square Ft.`, `Home For Lease`, `Average Lease`and `Average Lease/Square Ft.`, are the facts (based on active listing) for each subdivision and can be fill by the value for same subdivision.
* `Den` and `Bath` are dimension along with other values like '1th' which I think is typo mistake and I decided to drop them.

In [560]:
#counting 'Private Pool Desc:' category for `Private Pool:` groups
single_family_df.groupby('Private Pool:')['Private Pool Desc:'].value_counts()

Private Pool:  Private Pool Desc:
No             In Ground                                 14
               Enclosed, Heated, In Ground                6
               Above Ground                               4
               Heated, In Ground                          4
               Gunite                                     3
               Gunite, In Ground                          3
               Fiberglass                                 2
               Gunite, Heated, In Ground                  1
Yes            Gunite, In Ground                        341
               In Ground                                341
               Gunite, Heated, In Ground                233
               Gunite                                   214
               Heated, In Ground                         88
               Gunite, Heated, In Ground, Salt Water     46
               Gunite, Heated                            40
               Above Ground                              24
               Heated, In Ground, Salt Water             21
               Gunite, In Ground, Salt Water             20
               In Ground, Salt Water                     16
               Gunite, Salt Water                        13
               Gunite, Heated, Salt Water                10
               Fiberglass, In Ground                      5
               Heated                                     5
               In Ground, Vinyl Lined                     5
               Enclosed, In Ground                        4
               Salt Water                                 4
               Above Ground, Heated                       2
               Above Ground, In Ground                    2
               Enclosed, Gunite, In Ground                2
               Enclosed, Heated, In Ground                2
               Fiberglass                                 2
               Heated, Salt Water                         2
               Above Ground, Fiberglass, Heated           1
               Above Ground, Gunite, Heated               1
               Above Ground, Vinyl Lined                  1
               Enclosed, Heated                           1
               Enclosed, Salt Water                       1
               Fiberglass, In Ground, Vinyl Lined         1
               Fiberglass, Salt Water                     1
               Vinyl Lined                                1
Name: Private Pool Desc:, dtype: int64

In [561]:
single_family_df.drop(['Private Pool Desc:','Bath:','Den:'],axis=1,inplace=True)
# Replacing None value for 'Carport Description:' with 'not applicable'
single_family_df['Controlled Access:'][single_family_df['Controlled Access:'].isnull()]='no controlled access'

Now I investigating features with more than 70% none values:

In [562]:
missing = missing_cal(single_family_df)
nan_70 = missing.loc[((missing['%']>70 )& (missing['%']<80))].index
print('Number of Features with more than 70% None: ',len(nan_70))

Number of Features with more than 70% None:  2

In [563]:
missing.loc[nan_70].sort_values(by="%")

               count          %
Family Room:    7858  70.532268
Primary Bath:   8315  74.634234

In [564]:
#printing value count for each feature with more than 70 none value
for item in nan_70:
    print('Value Count for '+item)
    print(single_family_df[item].value_counts())
    print('-'*100)

Value Count for Family Room:
['1st', '1st']                          75
['18x16, 1st', '5.49 x 4.88(m)']        52
['20x16, 1st', '6.10 x 4.88(m)']        51
['21x17, 1st', '6.40 x 5.18(m)']        39
['17x16, 1st', '5.18 x 4.88(m)']        37
                                        ..
["16'6x19'8, 1st", "16'6,19'8, 1st"]     1
['35x19, 2nd', '10.67 x 5.79(m)']        1
['28x26, 1st', '8.53 x 7.92(m)']         1
["27'5x14'7, 1st", "27'5,14'7, 1st"]     1
["21'2x18'6, 1st", "21'2,18'6, 1st"]     1
Name: Family Room:, Length: 939, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Primary Bath:
['1st', '1st']                                                      765
['2nd', '2nd']                                                      308
['3rd', '3rd']                                                      128
['12x10, 1st', '3.66 x 3.05(m)']                                     31
['12x7, 1st', '3.66 x 2.13(m)']                                      20
                                                                   ...
['17X12, 1st', '17X12, 1st', '5.18 x 3.66(m)', '5.18 x 3.66(m)']      1
['5x15, 1st', '1.52 x 4.57(m)']                                       1
['13x09, 1st', '3.96 x 2.74(m)']                                      1
['10*8, 3rd', '10*8, 3rd']                                            1
['12x13, 2nd', '3.66 x 3.96(m)']                                      1
Name: Primary Bath:, Length: 891, dtype: int64
----------------------------------------------------------------------------------------------------

`Family Room` and `Primary Bath` are dimension for family room and master bath room and all houses should have these values and can not be 0. I think dropping these features would be appropriate since I can not fill values for more than 70% of houses.

In [565]:
single_family_df.drop(['Family Room:','Primary Bath:'],axis=1,inplace=True)

Next step is to look at features with none values between 50% and 60%:

In [566]:
missing = missing_cal(single_family_df)
nan_50_60 = missing.loc[((missing['%']>50 )& (missing['%']<70))].index
print('Number of Features with more than 50% and less than 60% None: ',len(nan_50_60))

Number of Features with more than 50% and less than 60% None:  6

In [567]:
missing.loc[nan_50_60].sort_values(by="%")

                    count          %
Front Door:          6471  58.082757
Breakfast:           6724  60.353649
Garage Carport:      6734  60.443407
Utility Room Desc:   7178  64.428687
Game Room:           7367  66.125123
Study/Library:       7658  68.737097

In [568]:
#printing value count for each feature with more than 50 none value
for item in nan_50_60:
    print('Value Count for '+item)
    print(single_family_df[item].value_counts())
    print('-'*100)

Value Count for Breakfast:
['1st', '1st']                            192
['10x10, 1st', '3.05 x 3.05(m)']          155
['11x10, 1st', '3.35 x 3.05(m)']          149
['12x10, 1st', '3.66 x 3.05(m)']          147
['10x9, 1st', '3.05 x 2.74(m)']           108
                                         ...
['13.8x9.3, 1st', '4.21 x 2.83(m)']         1
['17 x 13, 1st', '17 , 13, 1st']            1
["11'2 x 12', 1st", "11'2 , 12', 1st"]      1
['9x7.5, 1st', '2.74 x 2.29(m)']            1
['7 x 7, 2nd', '7 , 7, 2nd']                1
Name: Breakfast:, Length: 769, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Game Room:
['2nd', '2nd']                                  72
['18x14, 2nd', '5.49 x 4.27(m)']                52
['19x16, 2nd', '5.79 x 4.88(m)']                44
['18x16, 2nd', '5.49 x 4.88(m)']                37
['16x14, 2nd', '4.88 x 4.27(m)']                37
                                                ..
['NA, 2nd', 'NA, 2nd']                           1
['13.5X24, 2nd', '4.11 x 7.32(m)']               1
['34x17, 2nd', '10.36 x 5.18(m)']                1
['15x12, 3rd', '4.57 x 3.66(m)']                 1
['10â x 13â, 1st', '10â , 13â, 1st']     1
Name: Game Room:, Length: 1313, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Study/Library:
['12x11, 1st', '3.66 x 3.35(m)']                                    163
['12x12, 1st', '3.66 x 3.66(m)']                                    133
['13x11, 1st', '3.96 x 3.35(m)']                                    127
['13x12, 1st', '3.96 x 3.66(m)']                                    127
['14x12, 1st', '4.27 x 3.66(m)']                                     94
                                                                   ...
['18x33, 1st', '5.49 x 10.06(m)']                                     1
['14X12, 2nd', '4.27 x 3.66(m)']                                      1
['24 X 18, 1st', '24 X 18, 1st', '24 , 18, 1st', '24 , 18, 1st']      1
['18X18, 1st', '5.49 x 5.49(m)']                                      1
['12x13, 2nd', '3.66 x 3.96(m)']                                      1
Name: Study/Library:, Length: 836, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Garage Carport:
Auto Garage Door Opener                                                                    1185
Auto Garage Door Opener, Double-Wide Driveway                                               602
Double-Wide Driveway                                                                        600
Additional Parking                                                                          192
Additional Parking, Auto Garage Door Opener, Double-Wide Driveway                           162
                                                                                           ...
RV Parking, Workshop                                                                          1
Auto Garage Door Opener, Circle Driveway, RV Parking, Workshop                                1
Auto Garage Door Opener, Porte-Cochere, Workshop                                              1
Auto Garage Door Opener, Circle Driveway, Double-Wide Driveway, Driveway Gate, Workshop       1
Auto Driveway Gate, Driveway Gate, Porte-Cochere, Single-Wide Driveway                        1
Name: Garage Carport:, Length: 312, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Front Door:
South                1362
North                1267
West                  870
East                  849
East, North            89
South, West            78
North, West            77
East, South            71
East, West              4
North, South            2
East, North, West       1
Name: Front Door:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Utility Room Desc:
['1st', '1st']                            726
['2nd', '2nd']                            289
['3rd', '3rd']                            125
['In House', 'In House']                   94
['6x6, 1st', '1.83 x 1.83(m)']             92
                                         ...
['21X6, 1st', '6.40 x 1.83(m)']             1
['07x06, In House', '2.13 x 1.83(m)']       1
['13X11, 1st', '3.96 x 3.35(m)']            1
['3x7, 2nd', '0.91 x 2.13(m)']              1
["11'3 x 8'8, 1st", "11'3 , 8'8, 1st"]      1
Name: Utility Room Desc:, Length: 854, dtype: int64
----------------------------------------------------------------------------------------------------

It seems we can not do anything to fill NA values for these features because there is no information about dimension for `Utility Room`, `Study/Library`. `Game Room`and `Breakfast` area and I do not know about `Garage Carport` and `Front Door` direction for rest of the houses so, these features can be dropped as well.

In [569]:
single_family_df.drop(list(nan_50_60),axis=1,inplace=True)

So far I investigated features with the none value more than 50% and still need to dig more and also fill values for features that are the facts (based on active listing) for each subdivision like: `Home For Sales`, `Average List Price`,`Average Square Ft.`,`Average Price/Square Ft.`, `Home For Lease`, `Average Lease`and `Average Lease/Square Ft.`. But before that lets take a look at features with none values more than 10%:

In [570]:
missing = missing_cal(single_family_df)
nan_10_50 = missing.loc[((missing['%']>10 )& (missing['%']<50))].index
print('Number of Features with more than 10% and less than 50% None: ',len(nan_10_50))

Number of Features with more than 10% and less than 50% None:  35

In [571]:
missing.loc[nan_10_50].sort_values(by="%")

                            count          %
Garage(s):                   1292  11.596805
Tax Rate:                    1323  11.875056
Dishwasher:                  1413  12.682883
Bedroom Desc:                1682  15.097388
Median Appraised Value:      1746  15.671843
Median Year Built:           1746  15.671843
Median Lot Square Ft.:       1746  15.671843
Median Square Ft.:           1746  15.671843
Single Family Properties:    1746  15.671843
County / Zip Code:           1746  15.671843
Subdivision Name:            1746  15.671843
Neighborhood Value Range:    1746  15.671843
Disposal:                    1799  16.147563
Microwave:                   1922  17.251593
Financing Considered:        1965  17.637555
Floors:                      2045  18.355623
Range:                       2077  18.642851
Room Description:            2134  19.154474
Oven:                        2425  21.766448
Connections:                 2507  22.502468
Exterior:                    2573  23.094875
Median Price / Square ft.:   2670  23.965533
Taxes w/o Exemp:             2833  25.428597
Energy Feature:              3008  26.999372
Bathroom Description:        3025  27.151961
Countertop:                  3098  27.807199
Interior:                    3150  28.273943
Kitchen:                     3304  29.656225
Dining:                      3524  31.630913
Kitchen Desc:                3923  35.212279
Fireplace:                   4531  40.669599
Living:                      4847  43.505969
Compactor:                   5171  46.414146
Area Pool:                   5315  47.706669
Ice Maker:                   5476  49.151782

In [572]:
#printing value count for each feature with more than 50 none value
for item in nan_10_50:
    print('Value Count for '+item)
    print(single_family_df[item].value_counts())
    print('-'*100)

Value Count for Garage(s):
2 / Attached                                    5626
2 / Detached                                    1063
3 / Attached                                     686
1 / Detached                                     341
1 / Attached                                     320
                                                ...
7 / Attached,Oversized                             1
7 / Attached/Detached,Detached,Oversized,Tan       1
1 / Attached/Detached,Oversized                    1
3 / Attached/Detached,Detached                     1
9 / Attached,Detached,Oversized                    1
Name: Garage(s):, Length: 114, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Living:
['15x13, 1st', '4.57 x 3.96(m)']            58
['14x12, 1st', '4.27 x 3.66(m)']            57
['20x15, 1st', '6.10 x 4.57(m)']            57
['20x16, 1st', '6.10 x 4.88(m)']            55
['18x15, 1st', '5.49 x 4.57(m)']            55
                                            ..
["12.11x20.1, 1st", "12.11',20.1', 1st"]     1
['25 x 17, 1st', '25 , 17, 1st']             1
['14 x 18, 2nd', '14 , 18, 2nd']             1
['33x12, 1st', '10.06 x 3.66(m)']            1
['23 x 17.5, 1st', '23 , 17.5, 1st']         1
Name: Living:, Length: 1619, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Dining:
['12x11, 1st', '3.66 x 3.35(m)']                      220
['13x11, 1st', '3.96 x 3.35(m)']                      203
['13x12, 1st', '3.96 x 3.66(m)']                      184
['14x12, 1st', '4.27 x 3.66(m)']                      175
['1st', '1st']                                        172
                                                     ...
['19 x 16, 1st', '19 , 16, 1st']                        1
['12\'9" x 10\'11", 1st', '12\'9" , 10\'11", 1st']      1
["12'2X14, 2nd", "12'2,14, 2nd"]                        1
['19X15, 1st', '5.79 x 4.57(m)']                        1
['20x21, 1st', '6.10 x 6.40(m)']                        1
Name: Dining:, Length: 1308, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Kitchen:
['1st', '1st']                                      376
['14x12, 1st', '4.27 x 3.66(m)']                    129
['12x10, 1st', '3.66 x 3.05(m)']                    116
['12x11, 1st', '3.66 x 3.35(m)']                    100
['13x11, 1st', '3.96 x 3.35(m)']                     97
                                                   ...
['28x9.5, 2nd', '8.53 x 2.90(m)']                     1
['8\'10" x 10\'8", 1st', '8\'10" , 10\'8", 1st']      1
['9 x 11, 1st', '9 , 11, 1st']                        1
['21X11, 1st', '6.40 x 3.35(m)']                      1
['12*8, 1st', '12*8, 1st']                            1
Name: Kitchen:, Length: 1597, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Room Description:
['1 Living Area', '1 Living Area']                                                                                                                                                                                                                    135
['Breakfast Room, Family Room, Formal Dining, Gameroom Up, Study/Library, Utility Room in House,', 'Breakfast Room, Family Room, Formal Dining, Gameroom Up, Study/Library, Utility Room in House,']                                                   93
['Utility Room in House', 'Utility Room in House']                                                                                                                                                                                                     73
['Breakfast Room, Family Room, Formal Dining, Utility Room in House,', 'Breakfast Room, Family Room, Formal Dining, Utility Room in House,']                                                                                                           65
['Breakfast Room, Family Room, Formal Dining, Formal Living, Utility Room in House,', 'Breakfast Room, Family Room, Formal Dining, Formal Living, Utility Room in House,']                                                                             62
                                                                                                                                                                                                                                                     ...
['1 Living Area, Breakfast Room, Family Room, Formal Dining, Study/Library, Utility Room in Garage,', '1 Living Area, Breakfast Room, Family Room, Formal Dining, Study/Library, Utility Room in Garage,']                                              1
['Breakfast Room, Den, Formal Living, Kitchen/Dining Combo, Living/Dining Combo, Study/Library, Utility Room in Garage,', 'Breakfast Room, Den, Formal Living, Kitchen/Dining Combo, Living/Dining Combo, Study/Library, Utility Room in Garage,']      1
['Breakfast Room, Family Room, Living Area - 1st Floor, Study/Library,', 'Breakfast Room, Family Room, Living Area - 1st Floor, Study/Library,']                                                                                                        1
['Den, Kitchen/Dining Combo, Living Area - 1st Floor, Utility Room in House,', 'Den, Kitchen/Dining Combo, Living Area - 1st Floor, Utility Room in House,']                                                                                            1
['1 Living Area, Breakfast Room, Formal Dining, Gameroom Up, Kitchen/Dining Combo, Utility Room in House,', '1 Living Area, Breakfast Room, Formal Dining, Gameroom Up, Kitchen/Dining Combo, Utility Room in House,']                                  1
Name: Room Description:, Length: 3104, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Fireplace:
1/Gaslog Fireplace                                            1882
1                                                             1131
1/Gas Connections                                              872
1/Wood Burning Fireplace                                       545
1/Gas Connections, Gaslog Fireplace                            460
                                                              ...
3/Gaslog Fireplace, Mock Fireplace, Wood Burning Fireplace       1
1/Mock Fireplace, Wood Burning Fireplace                         1
2/Mock Fireplace, Wood Burning Fireplace                         1
1/Freestanding, Gas Connections, Mock Fireplace                  1
3/Freestanding, Gas Connections                                  1
Name: Fireplace:, Length: 92, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Countertop:
Granite                 3984
Quartz                   991
granite                  510
GRANITE                  364
Stone                    137
                        ...
Labradorite/Mbl/Gran       1
Granite /Qtz/Marble        1
Marble granite             1
Corian/Quartz              1
Granite tile               1
Name: Countertop:, Length: 550, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Floors:
Carpet, Tile                                        1778
Carpet, Tile, Wood                                  1577
Tile, Wood                                           872
Carpet, Engineered Wood, Tile                        498
Tile                                                 385
                                                    ...
Brick, Carpet, Marble Floors, Slate, Stone, Wood       1
Carpet, Laminate, Stone, Tile, Vinyl Plank             1
Carpet, Engineered Wood, Marble Floors                 1
Terrazo                                                1
Bamboo, Carpet, Marble Floors, Wood                    1
Name: Floors:, Length: 346, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Bedroom Desc:
All Bedrooms Down                                                                                             1282
Primary Bed - 1st Floor                                                                                        814
Primary Bed - 1st Floor, Walk-In Closet                                                                        634
All Bedrooms Up                                                                                                472
All Bedrooms Down, Primary Bed - 1st Floor                                                                     367
                                                                                                              ...
2 Bedrooms Down, Primary Bed - 2nd Floor, Multilevel Bedroom, Split Plan                                         1
1 Bedroom Down - Not Primary BR, 2 Primary Bedrooms, En-Suite Bath, Primary Bed - 2nd Floor, Walk-In Clo         1
All Bedrooms Up, En-Suite Bath, Primary Bed - 2nd Floor, Split Plan                                              1
All Bedrooms Up, Primary Bed - 1st Floor, Split Plan, Walk-In Closet                                             1
2 Bedrooms Down, 2 Primary Bedrooms, En-Suite Bath, Primary Bed - 3rd Floor, Sitting Area, Split Plan, Wal       1
Name: Bedroom Desc:, Length: 455, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Kitchen Desc:
Breakfast Bar, Kitchen open to Family Room, Pantry                                                                                                          387
Pantry                                                                                                                                                      362
Kitchen open to Family Room                                                                                                                                 281
Breakfast Bar                                                                                                                                               270
Kitchen open to Family Room, Pantry                                                                                                                         238
                                                                                                                                                           ...
Breakfast Bar, Island w/o Cooktop, Kitchen open to Family Room, Pot Filler, Under Cabinet Lighting                                                            1
Breakfast Bar, Kitchen open to Family Room, Pantry, Soft Closing Cabinets, Walk-in Pantry                                                                     1
Second Sink, Walk-in Pantry                                                                                                                                   1
Instant Hot Water, Pantry, Under Cabinet Lighting                                                                                                             1
Instant Hot Water, Island w/o Cooktop, Kitchen open to Family Room, Pantry, Pots/Pans Drawers, Second Sink, Soft Closing Drawers, Under Cabinet Lighting      1
Name: Kitchen Desc:, Length: 956, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Bathroom Description:
Double Sinks, Primary Bath + Separate Shower                                             1122
Double Sinks, Primary Bath + Separate Shower, Whirlpool/Jetted Tub                        387
Primary Bath + Separate Shower                                                            360
Double Sinks, Half Bath, Primary Bath + Separate Shower                                   360
Primary Bath Shower Only                                                                  292
                                                                                         ...
Double Sinks, Half Bath, Primary Bath Shower Only, Tub w/shower, Whirlpool/Jetted Tub       1
Disabled Access, Primary Bath + Separate Shower, Vanity Area                                1
Disabled Access, Shower Only                                                                1
Half Bath, Primary w/Tub, Tub w/shower, Two Primary Baths, Whirlpool/Jetted Tub             1
Disabled Access, Primary Bath + Separate Shower, Whirlpool/Jetted Tub                       1
Name: Bathroom Description:, Length: 504, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Connections:
Electric Dryer Connections, Gas Dryer Connections, Washer Connections    4209
Electric Dryer Connections, Washer Connections                           2682
Gas Dryer Connections, Washer Connections                                 736
Electric Dryer Connections                                                336
Electric Dryer Connections, Gas Dryer Connections                         276
Washer Connections                                                        268
Gas Dryer Connections                                                     127
Name: Connections:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Ice Maker:
No     5129
Yes     536
Name: Ice Maker:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Microwave:
Yes    8282
No      937
Name: Microwave:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Oven:
Electric Oven                                                                  2251
Gas Oven                                                                       2102
Double Oven                                                                     612
Double Oven, Electric Oven                                                      571
Electric Oven, Single Oven                                                      420
Single Oven                                                                     399
Convection Oven                                                                 315
Freestanding Oven, Gas Oven                                                     276
Freestanding Oven                                                               235
Convection Oven, Double Oven                                                    205
Convection Oven, Double Oven, Electric Oven                                     188
Convection Oven, Electric Oven                                                  178
Double Oven, Gas Oven                                                           155
Gas Oven, Single Oven                                                           126
Freestanding Oven, Gas Oven, Single Oven                                        122
Electric Oven, Freestanding Oven                                                 98
Convection Oven, Gas Oven                                                        86
Convection Oven, Electric Oven, Single Oven                                      57
Convection Oven, Single Oven                                                     51
Convection Oven, Double Oven, Gas Oven                                           46
Electric Oven, Gas Oven                                                          31
Electric Oven, Freestanding Oven, Single Oven                                    24
Convection Oven, Gas Oven, Single Oven                                           23
Freestanding Oven, Single Oven                                                   18
Double Oven, Freestanding Oven                                                   17
Double Oven, Electric Oven, Gas Oven                                             10
Double Oven, Freestanding Oven, Gas Oven                                          9
Convection Oven, Freestanding Oven                                                9
Convection Oven, Double Oven, Electric Oven, Freestanding Oven                    9
Double Oven, Electric Oven, Freestanding Oven                                     9
Convection Oven, Double Oven, Freestanding Oven, Gas Oven                         8
Convection Oven, Double Oven, Freestanding Oven                                   7
Convection Oven, Freestanding Oven, Gas Oven                                      5
Convection Oven, Electric Oven, Gas Oven                                          5
Convection Oven, Double Oven, Electric Oven, Gas Oven                             5
Convection Oven, Freestanding Oven, Gas Oven, Single Oven                         4
Convection Oven, Double Oven, Electric Oven, Freestanding Oven, Gas Oven          4
Double Oven, Single Oven                                                          4
Electric Oven, Freestanding Oven, Gas Oven                                        4
Convection Oven, Electric Oven, Freestanding Oven                                 4
Convection Oven, Double Oven, Electric Oven, Single Oven                          2
Double Oven, Electric Oven, Freestanding Oven, Gas Oven                           2
Convection Oven, Electric Oven, Freestanding Oven, Single Oven                    2
Convection Oven, Double Oven, Freestanding Oven, Single Oven                      1
Convection Oven, Electric Oven, Freestanding Oven, Gas Oven                       1
Electric Oven, Freestanding Oven, Gas Oven, Single Oven                           1
Double Oven, Electric Oven, Gas Oven, Single Oven                                 1
Convection Oven, Freestanding Oven, Single Oven                                   1
Double Oven, Electric Oven, Single Oven                                           1
Convection Oven, Double Oven, Single Oven                                         1
Convection Oven, Double Oven, Electric Oven, Freestanding Oven, Single Oven       1
Name: Oven:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Compactor:
No     5745
Yes     225
Name: Compactor:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Dishwasher:
Yes    9455
No      273
Name: Dishwasher:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Range:
Gas Cooktop                                                            3148
Gas Range                                                              2890
Electric Cooktop                                                        936
Electric Range                                                          700
Freestanding Range, Gas Range                                           509
Gas Cooktop, Gas Range                                                  216
Freestanding Range                                                      191
Electric Range, Freestanding Range                                       98
Freestanding Range, Gas Cooktop                                          76
Electric Cooktop, Electric Range                                         63
Gas Cooktop, Grill                                                       44
Gas Range, Grill                                                         34
Freestanding Range, Gas Cooktop, Gas Range                               27
Electric Cooktop, Freestanding Range                                     25
Gas Cooktop, Gas Range, Grill                                            17
Electric Range, Gas Cooktop                                              16
Electric Range, Gas Range                                                11

`Room Description`, `Countertop`, `Floors`, `Bedroom Desc`, `Kitchen Desc`, `Bathroom Description`, `Connections`, `Oven`, `Range`, `Energy Feature`, `Interior`, `Exterior`, `Financing Considered` are just information and we can not fill them with unknown values since some may not be accurate and I don't think they are relevant to our analysis so, I will drop all of them.
We also do not need `County / Zip Code:` since we do have another column for zip codes.
I could not find any information regarding to `Single Family Properties:` so, this column will be dropped as well.

In [573]:
single_family_df.drop(['Room Description:', 'Countertop:', 'Floors:', 'Bedroom Desc:', 'Kitchen Desc:', 
                       'Bathroom Description:','Connections:', 'Oven:', 'Range:', 'Energy Feature:',
                       'Interior:', 'Exterior:', 'Financing Considered:','Single Family Properties:','County / Zip Code:'], axis=1,inplace=True)

`Ice Maker`, `Microwave`, `Compactor`, `Dishwasher`, `Disposal` and `Area Pool` are 'Yes/No' categories and I think it is relevant to fill none values with 'No'. For sure it is a little bit optimistic since some houses may have those features and owner/agent forgot to fill them but for now filling with 'No' value is the best way to dealing with them.

In [574]:
single_family_df['Disposal:'][single_family_df['Disposal:'].isnull()]='No'
single_family_df['Ice Maker:'][single_family_df['Ice Maker:'].isnull()]='No'
single_family_df['Compactor:'][single_family_df['Compactor:'].isnull()]='No'
single_family_df['Area Pool:'][single_family_df['Area Pool:'].isnull()]='No'
single_family_df['Microwave:'][single_family_df['Microwave:'].isnull()]='No'
single_family_df['Dishwasher:'][single_family_df['Dishwasher:'].isnull()]='No'

At this point I am investigating other features indevisually:

## 2.7 Garage<a id='2.7_Garage'></a>

In [575]:
single_family_df['Garage(s):'].value_counts()

2 / Attached                                    5626
2 / Detached                                    1063
3 / Attached                                     686
1 / Detached                                     341
1 / Attached                                     320
                                                ...
7 / Attached,Oversized                             1
7 / Attached/Detached,Detached,Oversized,Tan       1
1 / Attached/Detached,Oversized                    1
3 / Attached/Detached,Detached                     1
9 / Attached,Detached,Oversized                    1
Name: Garage(s):, Length: 114, dtype: int64

The important part of this feature is the number of garage each house has. Also we now almost every single family homes have at least 2 garages and it is relevant to fill none values with '2'.

In [576]:
single_family_df['Garage(s):'].fillna('2',inplace=True)
single_family_df['garage'] = [item[0] if item !=None else 0 for item in single_family_df['Garage(s):'].str.split(' ') ]
single_family_df['garage']=single_family_df['garage'].astype(int)
single_family_df.drop('Garage(s):',axis=1,inplace=True)
single_family_df['garage'].value_counts()

2     8703
3     1445
1      758
4      175
5       21
6       11
8        7
7        4
24       2
10       1
40       1
56       1
9        1
57       1
63       1
26       1
42       1
27       1
51       1
20       1
21       1
45       1
22       1
58       1
Name: garage, dtype: int64

As you can see there are some houses with more than 10 garage which is odd. After checking images for some of these houses in www.HAR.com it seems those have only 2 garage and I fill those values with 2 which is the median of this feature.

In [577]:
single_family_df.garage[single_family_df['garage']>8]=single_family_df['garage'].median()
single_family_df['garage'].value_counts()

2    8720
3    1445
1     758
4     175
5      21
6      11
8       7
7       4
Name: garage, dtype: int64

## 2.8 Living<a id='2.8_Living'></a>

To calculate the living area I need to multiply the dimension of the living room and return the area and for the next stem I will fill none values with the average of living room area per subdivision

In [578]:
def area_calc(item,pattern = "([\d.]+)(?:.*?([\d.]+))?.*?[x\*].*?([\d.]+)(?:.*?([\d.]+))?"):
    pattern = re.compile(pattern,re.IGNORECASE)
    area=0
    dim=[]
    if type(item)==list:
        for i in item:
            if (('x' in i or 'X' in i or '*' in i )and '(m)' not in i ):
                dim.append(i.replace('[','').strip())
        for d in dim:
            d=d.replace(' ','').strip()
            match=pattern.findall(d)
            try:
                dimension_list = [float(item) if len(item)>0 else 0 for item in match[0]]
                area += (dimension_list[0]+(dimension_list[1]/12))*(dimension_list[2]+(dimension_list[3]/12))
            except:
                area=None
        return(area)

In [579]:
single_family_df['LivingSqft'] = single_family_df['Living:'].str.split(',')
single_family_df['LivingSqft'] = single_family_df['LivingSqft'].apply(area_calc)

In [580]:
single_family_df['LivingSqft'].describe()

count    6294.000000
mean      288.996780
std       152.801571
min         0.000000
25%       210.000000
50%       272.125000
75%       342.000000
max      6651.000000
Name: LivingSqft, dtype: float64

## 2.9 Dining<a id='2.9_Dining'></a>

In [581]:
single_family_df['Dining:'].value_counts()

['12x11, 1st', '3.66 x 3.35(m)']                      220
['13x11, 1st', '3.96 x 3.35(m)']                      203
['13x12, 1st', '3.96 x 3.66(m)']                      184
['14x12, 1st', '4.27 x 3.66(m)']                      175
['1st', '1st']                                        172
                                                     ...
['19 x 16, 1st', '19 , 16, 1st']                        1
['12\'9" x 10\'11", 1st', '12\'9" , 10\'11", 1st']      1
["12'2X14, 2nd", "12'2,14, 2nd"]                        1
['19X15, 1st', '5.79 x 4.57(m)']                        1
['20x21, 1st', '6.10 x 6.40(m)']                        1
Name: Dining:, Length: 1308, dtype: int64

In [582]:
single_family_df['DiningSqft'] = single_family_df['Dining:'].str.split(',')
single_family_df['DiningSqft'] = single_family_df['DiningSqft'].apply(area_calc)

In [583]:
single_family_df[['Dining:','DiningSqft']].sample(20,random_state=101)

                                      Dining:  DiningSqft
10595        ['12x14, 1st', '3.66 x 4.27(m)']       168.0
9396         ['13X10, 1st', '3.96 x 3.05(m)']       130.0
6552          ['10x9, 1st', '3.05 x 2.74(m)']        90.0
2512         ['12x12, 1st', '3.66 x 3.66(m)']       144.0
7776                                      NaN         NaN
2965                                      NaN         NaN
8038         ['10x11, 1st', '3.05 x 3.35(m)']       110.0
7054         ['12x16, 1st', '3.66 x 4.88(m)']       192.0
2269         ['12x13, 2nd', '3.66 x 3.96(m)']       156.0
1475                                      NaN         NaN
7083   ["15' x 13'2, 1st", "15' , 13'2, 1st"]       197.5
2321                                      NaN         NaN
6079         ['17x13, 1st', '5.18 x 3.96(m)']       221.0
6107                                      NaN         NaN
1548         ['19x11, 1st', '5.79 x 3.35(m)']       209.0
391          ['14x16, 1st', '4.27 x 4.88(m)']       224.0
659          ['20x14, 1st', '6.10 x 4.27(m)']       280.0
1250           ['9x9, 1st', '2.74 x 2.74(m)']        81.0
6170         ['15x11, 1st', '4.57 x 3.35(m)']       165.0
3449                                      NaN         NaN

## 2.10 Kitchen<a id='2.10_Kitchen'></a>

I am using same function to calculate kitchen are in sqft.

In [584]:
single_family_df['KitchenSqft'] = single_family_df['Kitchen:'].str.split(',')
single_family_df['KitchenSqft'] = single_family_df['KitchenSqft'].apply(area_calc)

In [585]:
single_family_df[['Kitchen:','KitchenSqft']].sample(20,random_state=101)

                                     Kitchen:  KitchenSqft
10595        ['12x19, 1st', '3.66 x 5.79(m)']   228.000000
9396         ['13X11, 1st', '3.96 x 3.35(m)']   143.000000
6552          ['11x8, 1st', '3.35 x 2.44(m)']    88.000000
2512          ['9x12, 1st', '2.74 x 3.66(m)']   108.000000
7776                 ['0X0, 1st', '0,0, 1st']     0.000000
2965                                      NaN          NaN
8038                                      NaN          NaN
7054         ['13x17, 1st', '3.96 x 5.18(m)']   221.000000
2269         ['15x12, 2nd', '4.57 x 3.66(m)']   180.000000
1475                                      NaN          NaN
7083   ["22'8 x 11', 1st", "22'8 , 11', 1st"]   249.333333
2321                                      NaN          NaN
6079                                      NaN          NaN
6107                                      NaN          NaN
1548         ['15x14, 1st', '4.57 x 4.27(m)']   210.000000
391          ['11x15, 1st', '3.35 x 4.57(m)']   165.000000
659          ['13x10, 1st', '3.96 x 3.05(m)']   130.000000
1250                                      NaN          NaN
6170         ['12x12, 1st', '3.66 x 3.66(m)']   144.000000
3449         ['24x14, 1st', '7.32 x 4.27(m)']   336.000000

Now we can drop old living, dining and kitchen columns:

In [586]:
single_family_df.drop(['Living:', 'Dining:', 'Kitchen:'], axis=1,inplace=True)

## 2.11 Subdivision<a id='2.11_Subdivision'></a>

To uniform subdivision I scraped all subdivision names from HAR.com and will replace names with correct one based on similarity:

In [587]:
sub_df = pd.read_csv('../Prediction House Price Using Image Processing/Data/Subdivision.csv')
sub_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [588]:
sub_df.head()

           Subdivision    Zip Med.Appraisal Avg.Sqft.  Avg.Yr.Built
0       MARLOWE CONDOS  77002      $522,701     1,100        2018.0
1       Modern Midtown  77002      $469,147     2,096        2014.0
2       Midtowne Plaza  77002      $439,282     2,507        1999.0
3  Macgregor Demerritt  77002      $438,234     2,034        1930.0
4  Hermann Lofts Condo  77002      $385,446     1,546        1998.0

As above table shown Med.Appraisal, Avg.Sqft. and Avg.Yr.Built are same for each subdivision and we can fill none values with these numbers for each column.

In [589]:
single_family_df[['Subdivision:','Subdivision Name:','Market Area Name:','Master Planned Community:','Zip Code:']].head()

,Subdivision:,Subdivision Name:,Market Area Name:,Master Planned Community:,Zip Code:
0,Austin Hadley Place,NaN,Midtown - Houston,NaN,77002
1,Modern Midtown (View subdivision price trend),Modern Midtown,NaN,NaN,77002
2,Modern Midtown (View subdivision price trend),Modern Midtown,NaN,NaN,77002
3,Merkels Sec 01 (View subdivision price trend),Merkels,NaN,NaN,77003
4,MERKELS (View subdivision price trend),Merkels,NaN,NaN,77003

In [590]:
single_family_df[['Subdivision:','Subdivision Name:','Market Area Name:','Master Planned Community:']].isna().sum()

Subdivision:                    5
Subdivision Name:            1746
Market Area Name:            9413
Master Planned Community:    9843
dtype: int64

It seems all these 4 columns are the same. As we can see `Subdivision Name:` has more clean name and since `Market Area Name:` has more standard name for subdivisions so, I will replace none values for `Subdivision Name:` with `Market Area Name:` values to see how many none values will remain.

In [591]:
single_family_df['SubName'] = single_family_df['Subdivision Name:'].fillna(single_family_df['Market Area Name:'])

In [592]:
single_family_df['SubName'].isna().sum()

18

In [593]:
single_family_df[['Subdivision:','Subdivision Name:','Market Area Name:','Master Planned Community:']].loc[single_family_df['SubName'].isna()]

,Subdivision:,Subdivision Name:,Market Area Name:,Master Planned Community:
67,Mckinney Lndg Sub (View subdivision price trend),NaN,NaN,NaN
498,VERMONT STREET GROVE,NaN,NaN,NaN
629,Magnolia Grove (View subdivision price trend),NaN,NaN,NaN
755,SUNSET HEIGHTS (View subdivision price trend),NaN,NaN,NaN
847,24th Street Manor (View subdivision price trend),NaN,NaN,NaN
922,Heights Homes/Herkimer Sub (View subdivision price trend),NaN,NaN,NaN
1358,Shepherd Oaks (View subdivision price trend),NaN,NaN,NaN
2097,Oaks of Lawndale,NaN,NaN,NaN
3161,Lakeside T/H (View subdivision price trend),NaN,NaN,NaN
3163,Lakeside T/H (View subdivision price trend),NaN,NaN,NaN
3165,Lakeside T/H (View subdivision price trend),NaN,NaN,NaN
3186,Riverview Place (View subdivision price trend),NaN,NaN,NaN
3336,Retreat At Upland,NaN,NaN,NaN
6122,Grand Oaks,NaN,NaN,NaN
9749,Villages of Cypress Lakes- Cypress Green,NaN,NaN,NaN
9864,Enclave at Longwood,NaN,NaN,NaN
10882,Elyson 70s,NaN,NaN,Elyson
10998,Lilac Bend,NaN,NaN,NaN

I am dropping these 18 rows since I can not find correct subdivision name for them.

In [594]:
single_family_df=single_family_df[~single_family_df['SubName'].isnull()]

In [595]:
single_family_df.drop(['Subdivision Name:','Subdivision:','Market Area Name:','Master Planned Community:'],
                      axis=1,inplace=True)

Now we can take a look at those features related to each subdivision like: `Median Appraised Value:`, `Median Year Built:`, 
`Median Lot Square Ft.:`, `Median Square Ft.:`, `Neighborhood Value Range:`.

In [596]:
single_family_df[['Median Appraised Value:', 'Median Year Built:', 'Median Lot Square Ft.:', 'Median Square Ft.:', 'Neighborhood Value Range:']].isna().sum()

Median Appraised Value:      1728
Median Year Built:           1728
Median Lot Square Ft.:       1728
Median Square Ft.:           1728
Neighborhood Value Range:    1728
dtype: int64

Those features have same number of missing values and it seems it may because of value missing for some the subdivisions. lets take a look:

In [597]:
single_family_df.SubName.loc[single_family_df['Median Appraised Value:'].isna()].value_counts()

Katy - Old Towne                   134
Spring Branch                      128
Cypress South                      105
Medical Center South                98
Hockley                             74
                                  ...
Lake Conroe Area                     1
Fort Bend County North/Richmond      1
Willow Meadows Area                  1
Westchase Area                       1
Memorial West                        1
Name: SubName, Length: 73, dtype: int64

In [598]:
sub_df.loc[sub_df.Subdivision=='Cypress South']

Empty DataFrame
Columns: [Subdivision, Zip, Med.Appraisal, Avg.Sqft., Avg.Yr.Built]
Index: []

In [599]:
single_family_df['Year Built:'].loc[single_family_df['Median Lot Square Ft.:'].isna()].value_counts()

2020   / Builder               1235
2019   / Builder                 72
2021   / Builder                 68
2019   / Appraisal District      22
2017   / Appraisal District      16
                               ...
1971   / Appraisal District       1
1925   / Appraisal District       1
1965   / Appraisal District       1
2005   / Appraisal                1
1976   / Appraisal District       1
Name: Year Built:, Length: 98, dtype: int64

It seems there is no information for those subdivisions in HAR.com since more than 90% of them are for new subdivisions. so I will drop those rows.

In [600]:
single_family_df=single_family_df[~single_family_df['Median Appraised Value:'].isnull()]

In [601]:
single_family_df[['Median Appraised Value:', 'Median Year Built:', 'Median Lot Square Ft.:', 'Median Square Ft.:', 'Neighborhood Value Range:']]

,Median Appraised Value:,Median Year Built:,Median Lot Square Ft.:,Median Square Ft.:,Neighborhood Value Range:
1,"$469,147",2014.0,"1,450","2,096",$441 - $476 K
2,"$469,147",2014.0,"1,450","2,096",$441 - $476 K
3,"$141,314",1938.0,"4,700","1,086",$90 - $213 K
4,"$141,314",1938.0,"4,700","1,086",$90 - $213 K
5,"$404,408",2016.0,"1,586","2,058",$329 - $443 K
...,...,...,...,...,...
11136,"$75,165",1950.0,"6,325","1,160",$56 - $111 K
11137,"$106,856",1963.0,"7,100","1,313",$37 - $170 K
11138,"$106,856",1963.0,"7,100","1,313",$37 - $170 K
11139,"$106,856",1963.0,"7,100","1,313",$37 - $170 K
11140,"$106,856",1963.0,"7,100","1,313",$37 - $170 K

Now we need to clean those features and change their type to the right one.

In [602]:
single_family_df['MedianApp'] = single_family_df['Median Appraised Value:'].str.replace('$','').str.replace(',','').str.strip()
single_family_df['MedianApp'] = pd.to_numeric(single_family_df['MedianApp'],errors='coerce')

In [603]:
single_family_df['MedianApp']

1        469147
2        469147
3        141314
4        141314
5        404408
          ...
11136     75165
11137    106856
11138    106856
11139    106856
11140    106856
Name: MedianApp, Length: 9395, dtype: int64

In [604]:
single_family_df['MedianYearBlt'] = pd.to_datetime(single_family_df['Median Year Built:'],format='%Y').dt.year

In [605]:
single_family_df['MedianYearBlt']

1        2014
2        2014
3        1938
4        1938
5        2016
         ...
11136    1950
11137    1963
11138    1963
11139    1963
11140    1963
Name: MedianYearBlt, Length: 9395, dtype: int64

In [606]:
single_family_df['MedianSqft'] = single_family_df['Median Lot Square Ft.:'].str.replace(',','').str.strip()
single_family_df['MedianSqft'] = pd.to_numeric(single_family_df['MedianSqft'],errors='coerce')

In [607]:
single_family_df['MedianSqft']

1        1450
2        1450
3        4700
4        4700
5        1586
         ...
11136    6325
11137    7100
11138    7100
11139    7100
11140    7100
Name: MedianSqft, Length: 9395, dtype: int64

In [608]:
single_family_df['NeighborValRangeMin'] = single_family_df['Neighborhood Value Range:'].apply(lambda x:x.split('-')[0].strip().replace('$',''))
single_family_df['NeighborValRangeMin'] = pd.to_numeric(single_family_df['NeighborValRangeMin'],errors='coerce')

In [609]:
single_family_df['NeighborValRangeMin']

1        441
2        441
3         90
4         90
5        329
        ...
11136     56
11137     37
11138     37
11139     37
11140     37
Name: NeighborValRangeMin, Length: 9395, dtype: int64

In [610]:
single_family_df['NeighborValRangeMax'] = single_family_df['Neighborhood Value Range:'].apply(lambda x:x.split('-')[1].replace('$','').replace('K','').strip())
single_family_df['NeighborValRangeMax'] = pd.to_numeric(single_family_df['NeighborValRangeMax'],errors='coerce')

In [611]:
single_family_df['NeighborValRangeMax']

1        476
2        476
3        213
4        213
5        443
        ...
11136    111
11137    170
11138    170
11139    170
11140    170
Name: NeighborValRangeMax, Length: 9395, dtype: int64

In [612]:
single_family_df.drop(['Median Appraised Value:', 'Median Year Built:', 'Median Lot Square Ft.:', 'Median Square Ft.:', 'Neighborhood Value Range:'],
                      axis=1,inplace=True)

In [613]:
single_family_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9395 entries, 1 to 11140
Data columns (total 62 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   image_link                            9395 non-null   object
 1   Listing Price:                        9392 non-null   object
 2   Address:                              9395 non-null   object
 3   City:                                 9395 non-null   object
 4   Zip Code:                             9395 non-null   int64
 5   County:                               9395 non-null   object
 6   Legal Description:                    9339 non-null   object
 7   Bedrooms:                             9366 non-null   object
 8   Baths:                                9373 non-null   object
 9   Stories:                              9392 non-null   object
 10  Style:                                9395 non-null   object
 11  Year Built:                           9345 non-null   object
 12  Building Sqft.:                       9352 non-null   object
 13  Lot Size:                             8910 non-null   object
 14  Maintenance Fee:                      9367 non-null   object
 15  Primary Bedroom:                      8755 non-null   object
 16  Bedroom:                              9304 non-null   object
 17  Fireplace:                            6012 non-null   object
 18  Heating:                              9395 non-null   object
 19  Cooling:                              9395 non-null   object
 20  Ice Maker:                            9395 non-null   object
 21  Microwave:                            9395 non-null   object
 22  Compactor:                            9395 non-null   object
 23  Dishwasher:                           9395 non-null   object
 24  Disposal:                             9395 non-null   object
 25  Roof:                                 9395 non-null   object
 26  Foundation:                           9395 non-null   object
 27  Private Pool:                         9395 non-null   object
 28  Exterior Type:                        9395 non-null   object
 29  Lot Description:                      9395 non-null   object
 30  Controlled Access:                    9395 non-null   object
 31  Water Sewer:                          9395 non-null   object
 32  Unit Location:                        9395 non-null   object
 33  Area Pool:                            9395 non-null   object
 34  Dwelling Type:                        9395 non-null   object
 35  HOA Mandatory:                        9367 non-null   object
 36  List Type:                            9395 non-null   object
 37  Other Fees:                           9395 non-null   object
 38  Taxes w/o Exemp:                      7889 non-null   object
 39  Tax Rate:                             8532 non-null   float64
 40  Average Bedrooms:                     9362 non-null   float64
 41  Average Baths:                        9395 non-null   float64
 42  Median Price / Square ft.:            8471 non-null   object
 43  Home For Sales:                       0 non-null      object
 44  Average List Price:                   0 non-null      object
 45  Average Square Ft.:                   0 non-null      object
 46  Average Price/Square Ft.:             0 non-null      object
 47  Home For Lease:                       0 non-null      float64
 48  Average Lease:                        0 non-null      object
 49  Average Lease/Square Ft.:             0 non-null      object
 50  Carport Description:                  9395 non-null   object
 51  Median Appraised Value / Square ft.:  924 non-null    object
 52  garage                                9395 non-null   int32
 53  LivingSqft                            5350 non-null   float64
 54  DiningSqft                            6409 non-null   float64
 55  KitchenSqft                           6643 non-null   float64
 56  SubName                               9395 non-null   object
 57  MedianApp                             9395 non-null   int64
 58  MedianYearBlt                         9395 non-null   int64
 59  MedianSqft                            9395 non-null   int64
 60  NeighborValRangeMin                   9395 non-null   int64
 61  NeighborValRangeMax                   9395 non-null   int64
dtypes: float64(7), int32(1), int64(6), object(48)
memory usage: 4.5+ MB

We have some features with 100% null values. lets drop them:

In [614]:
single_family_df.drop(['Home For Sales:', 'Average List Price:', 'Average Square Ft.:', 'Average Price/Square Ft.:',
                       'Home For Lease:','Average Lease:','Average Lease/Square Ft.:'],axis=1,inplace=True)

Now we are checking missing values again:

In [615]:
missing = missing_cal(single_family_df)
missing.loc[missing['%'] > 0].sort_values(by="%",ascending=False)

                                      count          %
Median Appraised Value / Square ft.:   8471  90.164981
LivingSqft                             4045  43.054816
Fireplace:                             3383  36.008515
DiningSqft                             2986  31.782863
KitchenSqft                            2752  29.292177
Taxes w/o Exemp:                       1506  16.029803
Median Price / Square ft.:              924   9.835019
Tax Rate:                               863   9.185737
Primary Bedroom:                        640   6.812134
Lot Size:                               485   5.162320
Bedroom:                                 91   0.968600
Legal Description:                       56   0.596062
Year Built:                              50   0.532198
Building Sqft.:                          43   0.457690
Average Bedrooms:                        33   0.351251
Bedrooms:                                29   0.308675
HOA Mandatory:                           28   0.298031
Maintenance Fee:                         28   0.298031
Baths:                                   22   0.234167
Stories:                                  3   0.031932
Listing Price:                            3   0.031932

I think we can fill null values for living, dining and kitchen area with them mean sqft for each subdivision since most of the house in one subdivision are almost the same.

In [616]:
single_family_df['LivingSqft'] = single_family_df['LivingSqft'].fillna(single_family_df.groupby('SubName')['LivingSqft'].transform('mean'))
single_family_df['DiningSqft'] = single_family_df['DiningSqft'].fillna(single_family_df.groupby('SubName')['DiningSqft'].transform('mean'))
single_family_df['KitchenSqft'] = single_family_df['KitchenSqft'].fillna(single_family_df.groupby('SubName')['KitchenSqft'].transform('mean'))

In [617]:
single_family_df.groupby('SubName').count()['Taxes w/o Exemp:']

SubName
1829 Bering Drive      1
A L Coan               1
ADELAIDE               0
ALYS PARK              1
ARCADIA COURT          1
                      ..
Yorkdale Tr            0
Yorkshire              4
Young Mens             3
Young Samuel           1
Zan Wun Patio Homes    1
Name: Taxes w/o Exemp:, Length: 2111, dtype: int64

In [618]:
single_family_df[['Taxes w/o Exemp:','Listing Price:','Median Price / Square ft.:','Tax Rate:','SubName']]

,Taxes w/o Exemp:,Listing Price:,Median Price / Square ft.:,Tax Rate:,SubName
1,"$11, 138/2019","$ 465,000 ($221.85/sqft.) $Convert",NaN,2.4216,Modern Midtown
2,"$11, 292/2019","$ 450,000 ($223.33/sqft.) $Convert",NaN,2.4216,Modern Midtown
3,"$4, 480/2019","$ 259,000 ($203.30/sqft.) $Convert",$188.44,2.5716,Merkels
4,NaN,"$ 236,999 ($196.19/sqft.) $Convert \r\n\r\n\r\n Reduced 1.25%\r\n Reduced 1.25%\r\n\r\nReduc...",$188.44,NaN,Merkels
5,"$9, 932/2019","$ 390,000 ($210.81/sqft.) $Convert",NaN,2.5716,East End On The Bayou
...,...,...,...,...,...
11136,"$2, 607/2019","$ 189,000 ($111.77/sqft.) $Convert",$118.87,2.8732,Merilyn Place
11137,"$2, 145/2019","$ 177,900 ($135.18/sqft.) $Convert",$92.11,2.8732,South Houston
11138,"$3, 108/2019","$ 169,500 ($146.12/sqft.) $Convert",$92.11,2.8732,South Houston
11139,NaN,"$ 165,000 ($145.37/sqft.) $Convert",$92.11,NaN,South Houston
11140,"$2, 735/2019","$ 155,000 ($184.74/sqft.) $Convert",$92.11,2.8732,South Houston

Tax rate and Median Price / Square ft. would be the same for all house in same subdivision and Taxes paid is different for each house based on tax rate, total house sqft and other factor. I think filling null value for tax paid with the average of taxes per subdivision would be appropriate but first we need to clean these two columns.

In [619]:
single_family_df['MedianPrice/Sqft'] = pd.to_numeric(single_family_df['Median Price / Square ft.:'].str
                                                     .replace('$','').str.strip(),errors='coerce')

single_family_df['PaidTax'] = pd.to_numeric(single_family_df['Taxes w/o Exemp:'].apply(lambda x:x.split('/')[0].replace(',','')
                                                                         .replace(' ','').strip().replace('$','') if 
                                                                         not pd.isna(x) else None),errors='coerce')
single_family_df['TaxRate'] = pd.to_numeric(single_family_df['Tax Rate:'],errors='coerce')

In [620]:
single_family_df['PaidTax'] = single_family_df['PaidTax'].fillna(single_family_df.groupby('SubName')['PaidTax'].transform('mean'))
single_family_df['TaxRate'] = single_family_df['TaxRate'].fillna(single_family_df.groupby('SubName')['TaxRate'].transform('mean'))
single_family_df['MedianPrice/Sqft'] = single_family_df['MedianPrice/Sqft'].fillna(single_family_df.groupby('SubName')['MedianPrice/Sqft'].transform('mean'))

In [621]:
single_family_df.drop(['Taxes w/o Exemp:','Tax Rate:','Median Price / Square ft.:'],axis=1,inplace=True)

## 2.12 Listing Price<a id='2.12_Listing_Price'></a>

In [622]:
single_family_df['Listing Price:'].isna().sum()

3

In [623]:
single_family_df=single_family_df[~single_family_df['Listing Price:'].isnull()]

In [624]:
single_family_df['Listing Price:']=single_family_df['Listing Price:'].str.split(' ').str[1]
single_family_df['Listing Price:']=single_family_df['Listing Price:'].str.replace(',','')
single_family_df['Listing Price:']=pd.to_numeric(single_family_df['Listing Price:'])
single_family_df.rename(columns = {'Listing Price:':'ListingPrice','Address:':'Address', 'Zip Code:':'ZipCode', 'County:':'County',
                                 'Subdivision:':'sub', 'Legal Description:':'Legal'},inplace=True)

In [625]:
single_family_df['ListingPrice'].describe()

count    9.392000e+03
mean     5.231866e+05
std      6.439969e+05
min      1.000000e+00
25%      2.350000e+05
50%      3.390000e+05
75%      5.500000e+05
max      1.450000e+07
Name: ListingPrice, dtype: float64

## 2.13 Bedrooms<a id='2.8_Bedrooms'></a>

In [626]:
single_family_df[['Bedrooms:','Bedroom:','Primary Bedroom:']]

,Bedrooms:,Bedroom:,Primary Bedroom:
1,3 Bedroom(s),"['13x11, 3rd', '13x10, 1st', '3.96 x 3.35(m)', '3.96 x 3.05(m)']","['18x12, 3rd', '5.49 x 3.66(m)']"
2,3 Bedroom(s),"['13 x 11, 1st', '13 x 11, 3rd', '13 , 11, 1st', '13 , 11, 3rd']","['19 x 13, 3rd', '19 , 13, 3rd']"
3,3 Bedroom(s),"['15 x 12, 1st', '9 x 12, 1st', '13 x 13, 1st', '15 , 12, 1st', '9 , 12, 1st', '13 , 13, 1st']",NaN
4,3 Bedroom(s),"['13X10, 1st', '10X10, 1st', '13X10, 1st', '3.96 x 3.05(m)', '3.05 x 3.05(m)', '3.96 x 3.05(m)']",NaN
5,3 Bedroom(s),"['12x11, 1st', '11x10, 3rd', '3.66 x 3.35(m)', '3.35 x 3.05(m)']","['16x12, 3rd', '4.88 x 3.66(m)']"
...,...,...,...
11136,3 Bedroom(s),"['13 x 11, 1st', '13 x 10, 1st', '13 , 11, 1st', '13 , 10, 1st']","['11 x 16, 1st', '11 , 16, 1st']"
11137,3 Bedroom(s),"['10x8, 1st', '10x8, 1st', '3.05 x 2.44(m)', '3.05 x 2.44(m)']","['12x14, 1st', '3.66 x 4.27(m)']"
11138,3 Bedroom(s),"['12x11, 1st', '12x11, 1st', '3.66 x 3.35(m)', '3.66 x 3.35(m)']","['13x15, 1st', '3.96 x 4.57(m)']"
11139,3 Bedroom(s),"['12x12, 1st', '12x12, 1st', '3.66 x 3.66(m)', '3.66 x 3.66(m)']","['13x15, 1st', '3.96 x 4.57(m)']"
11140,2 Bedroom(s),"['11 x 11.5, 1st', '11 x 11.5, 1st', '11 , 11.5, 1st', '11 , 11.5, 1st']",NaN

In [627]:
single_family_df[['Bedrooms:','Bedroom:','Primary Bedroom:']].isna().sum()

Bedrooms:            29
Bedroom:             91
Primary Bedroom:    638
dtype: int64

In [628]:
single_family_df=single_family_df[~single_family_df['Primary Bedroom:'].isnull()]

In [629]:
single_family_df[['Bedrooms:','Bedroom:','Primary Bedroom:']].isna().sum()

Bedrooms:            0
Bedroom:            23
Primary Bedroom:     0
dtype: int64

In [630]:
single_family_df=single_family_df[~single_family_df['Bedroom:'].isnull()]

'Bedroom:' feature includes the size of one of the bedrooms I am using same function to calculate the total area for bedrooms.

In [631]:
single_family_df['Primary_Bedroom_clean']=single_family_df['Primary Bedroom:'].str.split(',')
single_family_df['TotalBedSqft'] = single_family_df['Bedroom:'].str.split(',')
single_family_df['TotalBedSqft'] = single_family_df['TotalBedSqft'].apply(area_calc) + single_family_df['Primary_Bedroom_clean'].apply(area_calc)

In [632]:
pd.options.display.max_colwidth = 100
single_family_df[['Bedrooms:','Bedroom:','Primary Bedroom:','TotalBedSqft']].sample(20,random_state=100)

,Bedrooms:,Bedroom:,Primary Bedroom:,TotalBedSqft
2540,4 Bedroom(s),"['16X14, 1st', '13X12, 1st', '15X13, 1st', '4.88 x 4.27(m)', '3.96 x 3.66(m)', '4.57 x 3.96(m)']","['23X18, 1st', '7.01 x 5.49(m)']",989.0
8939,4 Bedroom(s),"['15x11, 2nd', '16x12, 2nd', '14x12, 2nd', '4.57 x 3.35(m)', '4.88 x 3.66(m)', '4.27 x 3.66(m)']","['16x16, 1st', '4.88 x 4.88(m)']",781.0
3907,5 Bedroom(s),"['13x11, 1st', '13x13, 2nd', '13x13, 2nd', '13x11, 1st', '3.96 x 3.35(m)', '3.96 x 3.96(m)', '3....","['17x14, 1st', '5.18 x 4.27(m)']",862.0
8627,4 Bedroom(s),"['13x11, 2nd', '12x11, 1st', '13x11, 2nd', '3.96 x 3.35(m)', '3.66 x 3.35(m)', '3.96 x 3.35(m)']","['21x13, 1st', '6.40 x 3.96(m)']",691.0
9279,3 Bedroom(s),"['11x12, 2nd', '10x12, 2nd', '3.35 x 3.66(m)', '3.05 x 3.66(m)']","['15x15, 1st', '4.57 x 4.57(m)']",477.0
2409,3 - 4 Bedroom(s),"['15x16, 2nd', '14x16, 3rd', '4.57 x 4.88(m)', '4.27 x 4.88(m)']","['17x22, 2nd', '5.18 x 6.71(m)']",838.0
2999,4 Bedroom(s),"['13 x 11, 2nd', '13 x 11, 2nd', '14 x 10, 2nd', '13 , 11, 2nd', '13 , 11, 2nd', '14 , 10, 2nd']","['14 x 12, 2nd', '14 , 12, 2nd']",594.0
4556,3 Bedroom(s),"['10 x 10, 2nd', '10 x 10, 2nd', '10 , 10, 2nd', '10 , 10, 2nd']","['17 x 14, 2nd', '17 , 14, 2nd']",438.0
335,6 - 7 Bedroom(s),"['13x13, 1st', '14x17, 2nd', '17x18, 2nd', '13x16, 2nd', '12x18, 2nd', '3.96 x 3.96(m)', '4.27 x...","['18x20, 1st', '5.49 x 6.10(m)']",1497.0
332,3 Bedroom(s),"['13x11, 2nd', '11x10, 2nd', '3.96 x 3.35(m)', '3.35 x 3.05(m)']","['15x14, 2nd', '4.57 x 4.27(m)']",463.0
2177,4 Bedroom(s),"['12x15, 2nd', '15x13, 2nd', '11x10, 2nd', '3.66 x 4.57(m)', '4.57 x 3.96(m)', '3.35 x 3.05(m)']","['16x14, 2nd', '4.88 x 4.27(m)']",709.0
2958,3 Bedroom(s),"['13x12, 1st', '12x10, 1st', '3.96 x 3.66(m)', '3.66 x 3.05(m)']","['15x10, 1st', '4.57 x 3.05(m)']",426.0
978,3 Bedroom(s),"['12x11, 3rd', '14x13, 1st', '3.66 x 3.35(m)', '4.27 x 3.96(m)']","['19x14, 3rd', '5.79 x 4.27(m)']",580.0
1043,3 Bedroom(s),"['13x12, 2nd', '14x12, 2nd', '3.96 x 3.66(m)', '4.27 x 3.66(m)']","['18x15, 2nd', '5.49 x 4.57(m)']",594.0
2251,5 Bedroom(s),"['12x15, 2nd', '13x16, 2nd', '15x21, 2nd', '13x13, 2nd', '3.66 x 4.57(m)', '3.96 x 4.88(m)', '4....","['16x21, 2nd', '4.88 x 6.40(m)']",1208.0
1288,3 Bedroom(s),"['12x12, 1st', '12x12, 1st', '3.66 x 3.66(m)', '3.66 x 3.66(m)']","['14x12, 1st', '4.27 x 3.66(m)']",456.0
8550,5 Bedroom(s),"['11x13, 2nd', '11x13, 2nd', '12x14, 1st', '12x14, 2nd', '3.35 x 3.96(m)', '3.35 x 3.96(m)', '3....","['20x13, 1st', '6.10 x 3.96(m)']",882.0
8742,4 Bedroom(s),"['12x10, 1st', '12x11, 1st', '12x10, 1st', '3.66 x 3.05(m)', '3.66 x 3.35(m)', '3.66 x 3.05(m)']","['17x16, 1st', '5.18 x 4.88(m)']",644.0
9958,4 Bedroom(s),"['12x12, 1st', '11x14, 1st', '11x10, 1st', '3.66 x 3.66(m)', '3.35 x 4.27(m)', '3.35 x 3.05(m)']","['17x13, 1st', '5.18 x 3.96(m)']",629.0
5305,5 Bedroom(s),"['16x12, 2nd', '21x16, 2nd', '14x9, 2nd', '19x12, 2nd', '4.88 x 3.66(m)', '6.40 x 4.88(m)', '4.2...","['20x19, 1st', '6.10 x 5.79(m)']",1262.0

In [633]:
single_family_df.drop(['Bedroom:','Primary Bedroom:','Primary_Bedroom_clean'],axis=1,inplace=True)

In [634]:
single_family_df['Bedrooms:']=single_family_df['Bedrooms:'].str.split(' ').str[0]
single_family_df['Bedrooms:']=single_family_df['Bedrooms:'].astype(int)
single_family_df.rename(columns = {'Bedrooms:':'NoBed'},inplace=True)
single_family_df['NoBed'].describe()

count    8731.000000
mean        3.705761
std         0.787728
min         2.000000
25%         3.000000
50%         4.000000
75%         4.000000
max        10.000000
Name: NoBed, dtype: float64

## 2.9 Bathrooms<a id='2.9_Bathrooms'></a>

In [635]:
single_family_df['Baths:'].isnull().sum()

0

In [636]:
single_family_df[['Baths:']]

                         Baths:
1      3 Full  & 1 Half Bath(s)
2      3 Full  & 1 Half Bath(s)
5      3 Full  & 1 Half Bath(s)
10     3 Full  & 1 Half Bath(s)
11     3 Full  & 1 Half Bath(s)
...                         ...
11134           2 Full  Bath(s)
11136           2 Full  Bath(s)
11137  1 Full  & 1 Half Bath(s)
11138  1 Full  & 1 Half Bath(s)
11139           2 Full  Bath(s)

[8731 rows x 1 columns]

In [637]:
single_family_df['full_bath']=single_family_df['Baths:'].str.split(' ').str[0].astype(int)

In [638]:
single_family_df['full_bath']

1        3
2        3
5        3
10       3
11       3
        ..
11134    2
11136    2
11137    1
11138    1
11139    2
Name: full_bath, Length: 8731, dtype: int32

In [639]:
No_Bath = single_family_df['Baths:'].str.split('&').str[1].str.strip()
No_Bath.fillna('0',inplace=True) 
single_family_df['half_bath']=[int(item[0]) for item in No_Bath.str.split(' ')]
single_family_df['half_bath'].replace(',','',inplace=True)
single_family_df[['full_bath','half_bath']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8731 entries, 1 to 11139
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   full_bath  8731 non-null   int32
 1   half_bath  8731 non-null   int64
dtypes: int32(1), int64(1)
memory usage: 170.5 KB

In [640]:
single_family_df.drop('Baths:',axis=1,inplace=True)

In [641]:
single_family_df[['full_bath','half_bath']].tail()

       full_bath  half_bath
11134          2          0
11136          2          0
11137          1          1
11138          1          1
11139          2          0

## Stories

In [642]:
single_family_df['Stories:'].value_counts()

2       4334
1       3534
3        557
1.5      191
4         96
2.5       16
2576       1
5          1
Name: Stories:, dtype: int64

There is one house with 2576 stories which I believe it is a typo. Lets take look at this home.

In [643]:
single_family_df['Stories:'].isnull().sum()

1

In [644]:
single_family_df=single_family_df[~single_family_df['Stories:'].isnull()]

In [645]:
single_family_df.rename(columns ={'Stories:':'Stories'},inplace=True)
single_family_df['Stories']=pd.to_numeric(single_family_df['Stories'])

In [646]:
single_family_df['Address'].loc[single_family_df['Stories']>4]

535        5334 Calle Cadiz Place
10448    22614 Auburn Valley Lane
Name: Address, dtype: object

The first one is an apartment and second one is 2 stories house. know we replace 2576 with 2.

In [647]:
single_family_df['Stories'].loc[single_family_df['Stories']==2576]=2

In [648]:
single_family_df['Stories'].value_counts()

2.0    4335
1.0    3534
3.0     557
1.5     191
4.0      96
2.5      16
5.0       1
Name: Stories, dtype: int64

## Style

In [649]:
single_family_df['Style:'].value_counts()

Traditional                                          6079
Contemporary/Modern                                   844
Ranch                                                 347
Contemporary/Modern,Traditional                       246
Other Style                                           185
                                                     ...
French,Spanish                                          1
Colonial,Contemporary/Modern,Georgian                   1
Contemporary/Modern,Mediterranean,Spanish               1
Ranch,Spanish                                           1
Colonial,Contemporary/Modern,English,French,Ranch       1
Name: Style:, Length: 84, dtype: int64

In [650]:
single_family_df['Style:'].isnull().sum()

0

In [651]:
single_family_df.rename(columns ={'Style:':'Style'},inplace=True)

## Year Built

In [652]:
single_family_df['Year Built:'].isnull().sum()

38

In [653]:
single_family_df['Year Built:'].value_counts()

2020   / Builder               1206
2006   / Appraisal District     182
2005   / Appraisal District     181
2014   / Appraisal District     171
2015   / Appraisal District     167
                               ...
1953   / Appraisal                1
1971   / Seller                   1
1880   / Seller                   1
1942   / Appraisal                1
1923   / Seller                   1
Name: Year Built:, Length: 290, dtype: int64

In [654]:
single_family_df=single_family_df[~single_family_df['Year Built:'].isnull()]
single_family_df['Year Built:']=single_family_df['Year Built:'].apply(lambda x:str(x).split(' ')[0])
single_family_df['Year Built:']=pd.to_datetime(single_family_df['Year Built:'],format='%Y').dt.year
single_family_df['Year Built:'].value_counts()

2020    1266
2015     218
2014     211
2006     209
2005     203
        ...
1905       1
1921       1
1916       1
1900       1
1880       1
Name: Year Built:, Length: 113, dtype: int64

In [655]:
single_family_df.rename(columns ={'Year Built:':'YearBuilt'},inplace=True)

## Building Sqft

In [656]:
single_family_df['Building Sqft.:']

1        2,096195(mÂ²)  /Appraisal District
2        2,015187(mÂ²)  /Appraisal District
5        1,850172(mÂ²)  /Appraisal District
10                  1,897176(mÂ²)  /Builder
11       1,965183(mÂ²)  /Appraisal District
                        ...
11134    1,630151(mÂ²)  /Appraisal District
11136    1,691157(mÂ²)  /Appraisal District
11137    1,316122(mÂ²)  /Appraisal District
11138    1,160108(mÂ²)  /Appraisal District
11139    1,135105(mÂ²)  /Appraisal District
Name: Building Sqft.:, Length: 8692, dtype: object

In [657]:
single_family_df['Building Sqft.:'].isnull().sum()

14

In [658]:
single_family_df=single_family_df[~single_family_df['Building Sqft.:'].isnull()]
single_family_df['Building Sqft.:']=single_family_df['Building Sqft.:'].apply(lambda x:x[0:5] if ',' in x else x[0:3])
single_family_df['Building Sqft.:']=single_family_df['Building Sqft.:'].str.replace(',','')
single_family_df['Building Sqft.:']=pd.to_numeric(single_family_df['Building Sqft.:'])
single_family_df.rename(columns ={'Building Sqft.:':'BuildSqft'},inplace=True)

## Lot Size

In [659]:
single_family_df.YearBuilt[single_family_df['Lot Size:'].isnull()].value_counts()

2020    384
2019     15
2021      5
2013      4
2016      3
2007      3
2015      2
1955      2
2006      2
1965      2
2002      2
1967      2
2018      2
1982      2
1952      1
1962      1
1977      1
1968      1
1969      1
1973      1
1994      1
1978      1
1979      1
1980      1
1990      1
2000      1
2004      1
2008      1
2009      1
2017      1
1920      1
Name: YearBuilt, dtype: int64

Since 384 of null values is under cunstruction I will drop all null values for lot size

In [660]:
single_family_df=single_family_df[~single_family_df['Lot Size:'].isnull()]

In [661]:
single_family_df['Lot Size:']

1        2,173 Sqft.202(mÂ²)  /Appraisal District
2        1,446 Sqft.134(mÂ²)  /Appraisal District
5        2,220 Sqft.206(mÂ²)  /Appraisal District
10       1,866 Sqft.173(mÂ²)  /Appraisal District
11       1,700 Sqft.158(mÂ²)  /Appraisal District
                           ...
11134    7,975 Sqft.741(mÂ²)  /Appraisal District
11136    5,500 Sqft.511(mÂ²)  /Appraisal District
11137    7,100 Sqft.660(mÂ²)  /Appraisal District
11138    7,100 Sqft.660(mÂ²)  /Appraisal District
11139    7,100 Sqft.660(mÂ²)  /Appraisal District
Name: Lot Size:, Length: 8231, dtype: object

In [662]:
single_family_df['Lot Size:']=single_family_df['Lot Size:'].str.replace(',','')
single_family_df['Lot Size:']=single_family_df['Lot Size:'].apply(lambda x:float(x.split(' ')[0])*43560 if 'Acres' in 
                                                                  x else float(x.split(' ')[0]))

# single_family_df['Lot Size:']=pd.to_numeric(single_family_df['Lot Size:'])
single_family_df.rename(columns ={'Lot Size:':'LotSize'},inplace=True)

In [664]:
single_family_df.LotSize.isnull().sum()

0

## Maintenance Fee

In [665]:
single_family_df['Maintenance Fee:']

1        ['$ 1304 / Annually', 'Mandatory / $1304 / Annually']
2        ['$ 1200 / Annually', 'Mandatory / $1200 / Annually']
5        ['$ 1100 / Annually', 'Mandatory / $1100 / Annually']
10       ['$ 1195 / Annually', 'Mandatory / $1195 / Annually']
11                                                          No
                                 ...
11134                                                       No
11136                                                       No
11137                                                       No
11138                                                       No
11139                                                       No
Name: Maintenance Fee:, Length: 8231, dtype: object

In [666]:
single_family_df['Maintenance Fee:'].isnull().sum()

22

In [667]:
single_family_df['Maintenance Fee:'].value_counts()

No                                                       2348
['$ 450 / Annually', 'Mandatory / $450 / Annually']       139
['$ 650 / Annually', 'Mandatory / $650 / Annually']       127
['$ 800 / Annually', 'Mandatory / $800 / Annually']       126
['$ 350 / Annually', 'Mandatory / $350 / Annually']       119
                                                         ...
['$ 2342 / Annually', 'Mandatory / $2342 / Annually']       1
['$ 886 / Annually', 'Mandatory / $886 / Annually']         1
['$ 237 / Annually', 'Mandatory / $237 / Annually']         1
['$ 61 / Annually', 'Mandatory / $61 / Annually']           1
['$ 3100 / Annually', 'Mandatory / $3100 / Annually']       1
Name: Maintenance Fee:, Length: 935, dtype: int64

In [668]:
single_family_df['Maintenance Fee:'].isin(['No','No / $0','Voluntary / Annually','Voluntary /0/ Annually']).sum()

2419

In [669]:
single_family_df.drop('Maintenance Fee:',axis=1,inplace=True)

## Fireplace

In [671]:
single_family_df['Fireplace:'].value_counts()

1/Gaslog Fireplace                                                             1496
1                                                                               931
1/Gas Connections                                                               752
1/Wood Burning Fireplace                                                        495
1/Gas Connections, Gaslog Fireplace                                             404
                                                                               ...
3/Gas Connections, Gaslog Fireplace, Mock Fireplace, Wood Burning Fireplace       1
2/Gas Connections, Gaslog Fireplace, Mock Fireplace, Wood Burning Fireplace       1
7/Gas Connections, Gaslog Fireplace, Wood Burning Fireplace                       1
3/Gaslog Fireplace, Mock Fireplace, Wood Burning Fireplace                        1
1/Gas Connections, Gaslog Fireplace, Stove                                        1
Name: Fireplace:, Length: 90, dtype: int64

In [672]:
pd.Series([str(x)[0]  for x in single_family_df['Fireplace:'] if x is not None]).value_counts()

1    4859
n    2620
2     515
3     122
/      69
4      34
5      10
7       1
6       1
dtype: int64

In [673]:
single_family_df['Fireplace:']=single_family_df['Fireplace:'].apply(lambda x:int(str(x)[0]) if str(x)[0]
                                                                    in ['1','2','3','4','5','6','7'] else 0)

In [674]:
single_family_df['Fireplace:'].value_counts()

1    4859
0    2689
2     515
3     122
4      34
5      10
7       1
6       1
Name: Fireplace:, dtype: int64

In [73]:
single_family_df['Median Price / Square ft.:'].value_counts()

$303.75     108
$259.49      95
$146.71      82
$127.37      77
$139.32      60
           ...
$126.72       1
$132.07       1
$100.69       1
$94.82        1
$118.87       1
Name: Median Price / Square ft.:, Length: 1369, dtype: int64

In [74]:
single_family_df['Median Price / Square ft.:']=pd.to_numeric(single_family_df['Median Price / Square ft.:'].str.replace("$",' ').str.strip())

In [75]:
single_family_df['Subdivision Name:']

0               Modern Midtown
1               Modern Midtown
2                          NaN
4             ELITE TWNHMS LLC
9                          NaN
                 ...
11146    South Houston Terrace
11148            South Houston
11149            South Houston
11150            South Houston
11151            South Houston
Name: Subdivision Name:, Length: 10055, dtype: object

In [76]:
single_family_df['Average Bedrooms:']

0        3.00
1        3.00
2        2.11
4        3.00
9        2.55
         ...
11146    2.93
11148    3.01
11149    3.01
11150    3.01
11151    3.01
Name: Average Bedrooms:, Length: 10055, dtype: float64

In [77]:
single_family_df.drop(['Living:','Kitchen Desc:','Dining:','Kitchen:','Interior:','Countertop:','Energy Feature:'
                      ,'Energy Feature:','Exterior:','Connections:','Oven:','Taxes w/o Exemp:','Range:'
                       ,'Floors:','Room Description:','Financing Considered:','Bathroom Description:'
                       ,'County / Zip Code:','Single Family Properties:','Bedroom Desc:','Subdivision Name:','Primary Bedroom:'],axis=1,inplace=True)

In [78]:
new_missing=missing_cal(single_family_df)
new_missing[new_missing['%']>0].sort_values("%")

                            count          %
sub                             5   0.049727
Average Baths:                 15   0.149180
legal                          17   0.169070
HOA Mandatory:                 35   0.348086
Average Bedrooms:              47   0.467429
Tax Rate:                     854   8.493287
Median Square Ft.:           1198  11.914470
Median Lot Square Ft.:       1198  11.914470
Median Year Built:           1198  11.914470
Median Appraised Value:      1198  11.914470
Neighborhood Value Range:    1198  11.914470
Median Price / Square ft.:   2086  20.745898